<h1>Welcome to my home</h1>

<p>Caravanning Queensland joins the peak industry bodies in this state for caravan dealers, manufacturers, camping suppliers, service providers, etc. as well as caravan park operators through two related associations. These are -</p>

<h2>Heading 2 Maple Trees</h2>

<p>The Caravan Trade &amp; Industries Association of Queensland is the voice of the Caravan, Manufactured Home and Camping Industry in this state. It was founded in 1964 and membership is made up predominantly of retailers, manufacturers, hirers, repairers, suppliers etc. in the caravan, camping and manufactured home industries.</p>

<h3>Heading 3 Macadamia Nuts</h3>

<p>The Caravan Parks Association of Queensland Inc. is the voice of the Caravan Park owners and operators in this State. It was founded in the early 1960&#39;s and membership is made up of Park Operators, large and small, from all corners of the State.</p>

<h4>Heading 4 Finding Nemo</h4>

<p>On behalf of our members, we are involved in government liaison, promotion, public relations, etc and members are kept informed through regular newsletters &amp; bulletins on all industry matters which may affect them.</p>

<h5>Heading 5 Truffle Balls</h5>

<p>Queensland has much to offer the road traveller. Caravans, motorhomes, campervans, camper trailers and their many derivatives plus camping are the great Australian holiday choices and certainly the best way to see the vast state of Queensland.</p>

<p><b>Don&#39;t put it off. See Queensland in 2013.</b></p>

<p><a href="#">DOWNLOAD BEFORE YOU GO</a></p>
