﻿@model BTT.CaravanQLD.AppPortal.Models.ApplicationFormModel
@using BTT.CaravanQLD.AppPortal.Helpers

@if (Model.ApplicationAlreadySubmitted)
{
    <p class="box warning">You have already submitted an application. Please contact us if you need to change your application.</p>
}
else
{
    @Html.ValidationSummary(true, "There are problems with your application.", new { @class = "box error" })
    
    using (Ajax.BeginForm("ApplicationForm", "Apply_Now", new AjaxOptions() { UpdateTargetId = "application-form-container" }, new { @class = "ym-form ym-columnar dynamic-form", id = "app-form" }))
    {
        @Html.HiddenFor(x => x.Exhibitor.Id)
        @Html.HiddenFor(x => x.ValidateAppForm)
        @Html.HiddenFor(x => x.ClearModelState)

        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();

            for (int i = 0; i < formFields.Count; i++)
            {
                //Required class not needed for editing the exhibitor
                var requiredClass = formFields[i].Mandatory ? "required" : "";
                var formFieldValue = Model.FormFieldValues.FirstOrDefault(x => x.FormFieldId == formFields[i].Id);
                var validationClass = "";

                if (formFields[i].ValidationType == ValidationType.Email)
                {
                    validationClass = "email-val";
                }
                else if (formFields[i].ValidationType == ValidationType.Phone)
                {
                    validationClass = "phone-val";
                }
                else if (formFields[i].ValidationType == ValidationType.ConfirmSameAsField)
                {
                    validationClass = "confirm-field-val";
                }
                else if (formFields[i].ValidationType == ValidationType.AllLowerCase)
                {
                    validationClass = "all-lower";
                }
                else if (formFields[i].ValidationType == ValidationType.AllUpperCase)
                {
                    validationClass = "all-caps";
                }
                else if (formFields[i].ValidationType == ValidationType.AllTitleCase)
                {
                    validationClass = "capitalize";
                }

                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextBox(formFields[i].Id.ToString(), formFieldValue.Value, new { @class = validationClass })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString())
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextBox(formFields[i].Id.ToString(), formFieldValue.Value, new { @class = validationClass })
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextArea(formFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 , @class = validationClass })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString())
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextArea(formFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 , @class = validationClass })
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    var dropDownItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
                    {
                        Text = x.Text,
                        Value = x.Value,
                        Selected = formFieldValue.Value == x.Value
                    }).ToList();

                    dropDownItems.Insert(0, new SelectListItem()
                    {
                        Text = "",
                        Value = ""
                    });

                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString())
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        var isMandatory = formFields[i].Mandatory ? "*" : "";
                        <div class="ym-fbox ym-full-width-check">
                            @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                            <p>
                                <b>@Html.Raw(formFields[i].Label)@isMandatory</b>
                                @*@Html.CheckBox(Guid.NewGuid().ToString(), new { @class = "ym-inline", style = "margin-left: 5px;" })*@
                                @{var isChecked = !String.IsNullOrEmpty(formFieldValue.Value) ? "checked='checked'" : "";}
                                <input name="@formFields[i].Id.ToString()" class="ym-inline" style="margin-left: 5px;" type="checkbox" value="True" @isChecked />
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox checkbox-div">
                            @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @*@Html.CheckBox(Guid.NewGuid().ToString())*@
                            @{var isChecked = !String.IsNullOrEmpty(formFieldValue.Value) ? "checked='checked'" : "";}
                            <input name="@formFields[i].Id.ToString()" type="checkbox" value="True" @isChecked />
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            @{isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[secondItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[secondItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <div class="ym-full-width-grid">
                                @Html.ValidationMessage(formFields[i].Id.ToString(), new { @class = "full-width-error" })
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            </div>

                            @{
                                var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            @Html.ValidationMessage(formFields[i].Id.ToString())
                            <label class="@requiredClass">@formFields[i].Label</label>

                            @{
                                var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].TextField == "%Show ID%")
                    {
                        if (formFields[i].SpanTwoColumns)
                        {
                            <div class="ym-fbox">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                    <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <label class="@requiredClass">@formFields[i].Label</label>
                                <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                            </div>
                        }
                    }
                }
            }
        }

        <div class="ym-fbox ym-full-width-check">
            @Html.ValidationMessageFor(x => x.Exhibitor.AcceptedTermsAndConditions, "Please confirm that you have read and understood the terms and conditions.", new { @class = "full-width-error" })
        </div>

        <div class="ym-fbox ym-full-width-check">
            <p><b>Please confirm you have read and understood the terms and conditions.</b> * @Html.CheckBoxFor(x => x.Exhibitor.AcceptedTermsAndConditions, new { @class = "ym-inline", style = "margin-left: 5px;" })</p>
        </div>
        
        @*<h2>Exhibitor Details</h2>
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.ShowId)
            @Html.DisplayTextFor(x => x.ExApp.ShowId)
            @Html.HiddenFor(x => x.ExApp.ShowId)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.TradingName)
            @Html.LabelTitleizeFor(x => x.ExApp.TradingName, "required")
            @Html.TextBoxFor(x => x.ExApp.TradingName)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.ShowListingName)
            @Html.LabelTitleizeFor(x => x.ExApp.ShowListingName, "required")
            @Html.TextBoxFor(x => x.ExApp.ShowListingName)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.AddressLine1)
            @Html.LabelTitleizeFor(x => x.ExApp.AddressLine1, "required")
            @Html.TextBoxFor(x => x.ExApp.AddressLine1, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.AddressLine2)
            @Html.LabelTitleizeFor(x => x.ExApp.AddressLine2)
            @Html.TextBoxFor(x => x.ExApp.AddressLine2, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Suburb)
            @Html.LabelTitleizeFor(x => x.ExApp.Suburb, "required")
            @Html.TextBoxFor(x => x.ExApp.Suburb, new { @class = "all-caps" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.State)
            @Html.LabelTitleizeFor(x => x.ExApp.State, "required")
            @Html.DropDownListFor(x => x.ExApp.State, Model.StateList)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Country)
            @Html.LabelTitleizeFor(x => x.ExApp.Country, "required")
            @Html.TextBoxFor(x => x.ExApp.Country, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Postcode)
            @Html.LabelTitleizeFor(x => x.ExApp.Postcode, "required")
            @Html.TextBoxFor(x => x.ExApp.Postcode)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.ExhibitorPhone)
            @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorPhone, "required")
            @Html.TextBoxFor(x => x.ExApp.ExhibitorPhone)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.ExhibitorFax)
            @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorFax)
            @Html.TextBoxFor(x => x.ExApp.ExhibitorFax)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.ExhibitorEmail)
            @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorEmail, "required")
            @Html.TextBoxFor(x => x.ExApp.ExhibitorEmail, new { @class = "all-lower" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ConfirmExhibitorEmail)
            @Html.LabelTitleizeFor(x => x.ConfirmExhibitorEmail, "required")
            @Html.TextBoxFor(x => x.ConfirmExhibitorEmail, new { @class = "all-lower" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Website)
            @Html.LabelTitleizeFor(x => x.ExApp.Website)
            @Html.TextBoxFor(x => x.ExApp.Website, new { @class = "all-lower" })
        </div>
    
        <h2>Contact Person Details</h2>
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Title)
            @Html.LabelTitleizeFor(x => x.ExApp.Title, "required")
            @Html.TextBoxFor(x => x.ExApp.Title, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.FirstName)
            @Html.LabelTitleizeFor(x => x.ExApp.FirstName, "required")
            @Html.TextBoxFor(x => x.ExApp.FirstName, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Surname)
            @Html.LabelTitleizeFor(x => x.ExApp.Surname, "required")
            @Html.TextBoxFor(x => x.ExApp.Surname, new { @class = "capitalize" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Mobile)
            @Html.LabelTitleizeFor(x => x.ExApp.Mobile, "required")
            @Html.TextBoxFor(x => x.ExApp.Mobile)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Phone)
            @Html.LabelTitleizeFor(x => x.ExApp.Phone, "required")
            @Html.TextBoxFor(x => x.ExApp.Phone)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ExApp.Email)
            @Html.LabelTitleizeFor(x => x.ExApp.Email, "required")
            @Html.TextBoxFor(x => x.ExApp.Email, new { @class = "all-lower" })
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.ConfirmContactEmail)
            @Html.LabelTitleizeFor(x => x.ConfirmContactEmail, "required")
            @Html.TextBoxFor(x => x.ConfirmContactEmail, new { @class = "all-lower" })
        </div>
    
        <div class="ym-fbox">
            @Html.Label("Is this the contact person on site during the show (including set-up & pull down)?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.IsShowContact, true, new { onclick = "hideShowContactDetails()" })
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.IsShowContact, false, new { onclick = "showShowContactDetails()" })
                        @Html.Label("No")
                    </div>
                </div>
            </div>
        </div>
    
        <div id="show-contact-details">
            <h2>Show Contact Person Details</h2>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.ShowContactTitle)
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactTitle, "required")
                @Html.TextBoxFor(x => x.ExApp.ShowContactTitle, new { @class = "capitalize" })
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.ShowContactFirstName)
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactFirstName, "required")
                @Html.TextBoxFor(x => x.ExApp.ShowContactFirstName, new { @class = "capitalize" })
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.ShowContactSurname)
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactSurname, "required")
                @Html.TextBoxFor(x => x.ExApp.ShowContactSurname, new { @class = "capitalize" })
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.ShowContactMobile)
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactMobile, "required")
                @Html.TextBoxFor(x => x.ExApp.ShowContactMobile)
            </div>
        </div>
    
        if (Model.CurrentShow.ShowType == ShowType.Main)
        {
        <h2>Member / CIAA Contributor</h2>
        <div class="ym-fbox">
            @Html.Label("Are you a member of Caravanning Queensland?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.CQMember, true, new { onclick = "showCaravanQLDMemberDetails()" })
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.CQMember, false, new { onclick = "hideCaravanQLDMemberDetails()" })
                        @Html.Label("No")
                    </div>
                </div>
            </div>
        </div>
        
        <div id="caravan-queensland-member" class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left">
                        @Html.ValidationMessageFor(x => x.ExApp.CQMemberType)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right">
                        @Html.ValidationMessageFor(x => x.ExApp.CQMembershipID)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Full Member")
                        @Html.RadioButtonFor(x => x.ExApp.CQMemberType, "Full Member")
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Associate Member")
                        @Html.RadioButtonFor(x => x.ExApp.CQMemberType, "Associate Member")
                    </div>
                </div>

                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.CQMembershipID, "required")
                    </div>
                </div>

                <div class="ym-g30 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text">
                        @Html.TextBoxFor(x => x.ExApp.CQMembershipID)
                    </div>
                </div>
            </div>
        </div>
    
        <div class="ym-fbox">
            @Html.Label("Are you a member of a reciprocal caravan association?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.InterstateMember, true, new { onclick = "showReciprocalMemberDetails()" })
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.InterstateMember, false, new { onclick = "hideReciprocalMemberDetails()" })
                        @Html.Label("No")
                    </div>
                </div>
            </div>
        </div>
    
        <div id="reciprocal-member" class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left">
                        @Html.ValidationMessageFor(x => x.ExApp.InterstateMemberType)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right">
                        @Html.ValidationMessageFor(x => x.ExApp.InterstateAssociation)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Full Member")
                        @Html.RadioButtonFor(x => x.ExApp.InterstateMemberType, "Full Member")
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Associate Member")
                        @Html.RadioButtonFor(x => x.ExApp.InterstateMemberType, "Associate Member")
                    </div>
                </div>

                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.Label("Is Yes, which one", new { @class = "required" })
                    </div>
                </div>

                <div class="ym-g30 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text">
                        @Html.DropDownListFor(x => x.ExApp.InterstateAssociation, Model.AssociationList)
                    </div>
                </div>
            </div>
        </div>
    
        <div class="ym-fbox">
            @Html.Label("Have you contributed to the CIAA National Promotional Fund this financial year?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.Contributed, true)
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.Contributed, false)
                        @Html.Label("No")
                    </div>
                </div>
            </div>

            <blockquote>@Html.Raw(Model.CurrentShow.Contributor)</blockquote>
        </div>
        }

        <h2>Site Preference</h2>
    
        if (!Model.CurrentShow.OnlyOptionB)
        {
        <div class="ym-fbox">
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.OptionA)
            </div>

            <label class="ym-full-width-label">Please complete either Option A or Option B.</label>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.OptionA, true)
                        @Html.Label("Option A")
                    </div>
                </div>

                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.OptionA, false)
                        @Html.Label("Option B")
                    </div>
                </div>
            </div>
        </div>

        <h5>Option A - Please choose 3 different stands.</h5>
        }
    
        if (Model.CurrentShow.ShowType == ShowType.Sales || Model.CurrentShow.OnlyOptionB)
        {
        <div class="ym-fbox">
            <p>NOTE: The majority of stands at this event are located outdoors. Marquee’s can be hired through our preferred supplier Events In Tents.  Before booking a marquee, you must notify the organiser to ensure your site can accommodate a marquee or outdoor structure.</p>
        </div>
    
        <div class="ym-fbox">
            @Html.Label("Marquee Cover is required", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.MarqueeRequired, true)
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.MarqueeRequired, false)
                        @Html.Label("No")
                    </div>
                </div>
            </div>
        </div>
        }
    
        if (!Model.CurrentShow.OnlyOptionB)
        {
        <div class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice1, "required")
                    </div>
                </div>

                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.StandChoice1)
                    </div>
                </div>

                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice2, "required")
                    </div>
                </div>

                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.StandChoice2)
                    </div>
                </div>

                <div class="ym-g16 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice3, "required")
                    </div>
                </div>

                <div class="ym-g16 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.StandChoice3)
                    </div>
                </div>
            </div>
        </div>

        <div class="ym-fbox">
            <p>If the size indicated on the plan is <b>not</b> the actual size preferred, indicate preferred size below.</p>
        </div>

        <div class="ym-fbox">
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.Frontage)
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Frontage)
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.Frontage)
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Depth)
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.Depth)
                    </div>
                </div>
            </div>
        </div>

        <div class="ym-fbox">
            <p>If these sites are unavailable, we understand the Show Organisers may make alternative offers to us.</p>
        </div>
        }
        
        @Html.Hidden("OptionA", false)
        
        string optionBTitle = "Option B";
        string optionBText = "<p>We have no particular choices, but we require a stand that is approximately:</p>";
        if (Model.CurrentShow.OnlyOptionB)
        {
            optionBTitle = Model.CurrentShow.OptionBTitle;
            optionBText = Model.CurrentShow.OptionBText;
        }
        
        <h5>@optionBTitle</h5>
        <div class="ym-fbox">
            @Html.Raw(optionBText)
        </div>

        <div class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.FrontageRequested, "required")
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.FrontageRequested)
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.DepthRequested, "required")
                    </div>
                </div>

                <div class="ym-g12 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.SiteInfo.DepthRequested)
                    </div>
                </div>
            </div>
        </div>

        <div class="ym-fbox">
            <p>We require the stand to be: (you can pick multiple)</p>
        </div>

        <div class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Indoors, "required")
                        @Html.CheckBoxFor(x => x.ExApp.SiteInfo.Indoors)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Outdoors, "required")
                        @Html.CheckBoxFor(x => x.ExApp.SiteInfo.Outdoors)
                    </div>
                </div>
                @if (Model.CurrentShow.ShowType == ShowType.Sales)
                {
                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.OutdoorsWithMarquee, "required")
                        @Html.CheckBoxFor(x => x.ExApp.SiteInfo.OutdoorsWithMarquee)
                    </div>
                </div>
                }
            </div>
        </div>

        <h2>Shell Scheme</h2>
        <div class="ym-fbox">
            @Html.Label("Do you want a shell scheme?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.ShellScheme, true)
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.ShellScheme, false)
                        @Html.Label("No")
                    </div>
                </div>
            </div>

            <blockquote>@Html.Raw(Model.CurrentShow.ShellScheme)</blockquote>
        </div>

        <h2>Amplification</h2>
        <div class="ym-fbox">
            @Html.Label("Will you be using any amplified sound?", new { @class = "ym-full-width-label required" })

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.Label("Yes")
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.Amplification, true)
                    </div>
                </div>

                <div class="ym-g10 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.RadioButtonFor(x => x.ExApp.SiteInfo.Amplification, false)
                        @Html.Label("No")
                    </div>
                </div>
            </div>
        </div>

        <h2>Products / Services</h2>
        <div class="ym-fbox">
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.ProductInfo.Products)
            </div>
            <p>List all Products / Services on your stand. (Refer also to Clauses 19, 22, and 75 in the Show Rules.) *</p>
        </div>

        <div class="ym-fbox">
            <div class="ym-fbox-text ym-full-width-text">
                @Html.TextAreaFor(x => x.ExApp.ProductInfo.Products, new { rows = "7" })
            </div>
        </div>

        <div class="ym-fbox">
            <br />
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.ProductInfo)
            </div>
            <p>Brands (not models) of Caravans, Camper Trailers, Motorhomes & Fifthwheelers you will have on your stand.</p>
        </div>

        <div class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand1)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand1)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand1)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand1)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand2)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand2)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand2)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand2)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand3)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand3)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand3)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand3)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand4)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand4)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand4)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand4)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand5)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand5)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand5)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand5)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand6)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CaravanBrand6)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand6)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.CamperTrailerBrand6)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand1)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.MotorhomeBrand1)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand1)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.FifthwheelerBrand1)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand2)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.MotorhomeBrand2)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand2)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.FifthwheelerBrand2)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand3)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.MotorhomeBrand3)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand3)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.FifthwheelerBrand3)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g20 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand4)
                    </div>
                </div>

                <div class="ym-g30 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.MotorhomeBrand4)
                    </div>
                </div>

                <div class="ym-g25 ym-gl">
                    <div class="ym-gbox-left ym-fbox-text">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand4)
                    </div>
                </div>

                <div class="ym-g25 ym-gr">
                    <div class="ym-gbox-right ym-fbox-text narrow-input">
                        @Html.TextBoxFor(x => x.ExApp.ProductInfo.FifthwheelerBrand4)
                    </div>
                </div>
            </div>
        </div>

        <div class="ym-fbox">
            <br />
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.ProductInfo.AccessoriesParts)
            </div>
            <p>Market Segments that best describe your products. *</p>
        </div>

        <div class="ym-fbox">
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AccessoriesParts)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.AccessoriesParts)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthWheelers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.FifthWheelers)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AdvisoryServices)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.AdvisoryServices)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Hire)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.Hire)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AnnexesAwnings)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.AnnexesAwnings)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Insurance)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.Insurance)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.ArtUnionsFundraising)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.ArtUnionsFundraising)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MarineFishingBoatTrailers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.MarineFishingBoatTrailers)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CabinsHomes)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.CabinsHomes)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomesCampervansConversions)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.MotorhomesCampervansConversions)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.CamperTrailers)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Publications)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.Publications)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CampingEquipmentTents)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.CampingEquipmentTents)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.RoofTopCampers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.RoofTopCampers)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravansPopTops)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.CaravansPopTops)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.SlideOnTraytopCampers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.SlideOnTraytopCampers)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CarportsCaravanCovers)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.CarportsCaravanCovers)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.TouringTourismCaravanParks)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.TouringTourismCaravanParks)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.ClothingHats)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.ClothingHats)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.TowingEquipment)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.TowingEquipment)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Clubs)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.Clubs)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.VehiclesVehicleAccessories4WDAccessories)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.VehiclesVehicleAccessories4WDAccessories)
                    </div>
                </div>
            </div>

            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox-left ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Communication)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.Communication)
                    </div>
                </div>

                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox-right ym-fbox-check">
                        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.OtherProductsServices)
                        @Html.CheckBoxFor(x => x.ExApp.ProductInfo.OtherProductsServices)
                    </div>
                </div>
            </div>
        </div>

        <div class="ym-fbox">
            <br />
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.ProductInfo.AccessHeight)
            </div>
            <p>For large units eg. Motorhomes, Fifthwheelers, and Caravans with roof mounted air conditioners, indicate access height height required in metres @Html.TextBoxFor(x => x.ExApp.ProductInfo.AccessHeight, new { @class = "ym-inline", size = "3" })</p>
        </div>

        if (Model.CurrentShow.ShowType == ShowType.Main)
        {
        <h2>Security Deposit Refund</h2>
        <div class="ym-fbox">
            <p>Refund of Security Deposit will be credited direct to your bank account. No cheques will be issued. Please enter your account details below: </p>
        </div>

        <div id="security-deposit-refund-details">
            <div class="ym-fbox">
                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                    @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.BSB)
                    <div class="ym-g30 ym-gl">
                        <div class="ym-gbox-left ym-fbox-text">
                            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BSB, "required")
                        </div>
                    </div>

                    <div class="ym-g16 ym-gl">
                        <div class="ym-gbox-left ym-fbox-text">
                            @Html.TextBoxFor(x => x.ExApp.SiteInfo.BSB)
                        </div>
                    </div>
                </div>
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.AccountNo)
                @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.AccountNo, "required")
                @Html.TextBoxFor(x => x.ExApp.SiteInfo.AccountNo)
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.AccountName)
                @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.AccountName, "required")
                @Html.TextBoxFor(x => x.ExApp.SiteInfo.AccountName)
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.BankName)
                @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BankName, "required")
                @Html.TextBoxFor(x => x.ExApp.SiteInfo.BankName)
            </div>

            <div class="ym-fbox">
                @Html.ValidationMessageFor(x => x.ExApp.SiteInfo.BranchName)
                @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BranchName)
                @Html.TextBoxFor(x => x.ExApp.SiteInfo.BranchName)
            </div>
        </div>
        }

        <h2>Additional Notes / Requests</h2>
        <div class="ym-fbox">
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.NotesAndRequests)
            </div>

            <div class="ym-fbox-text ym-full-width-text">
                @Html.TextAreaFor(x => x.ExApp.NotesAndRequests, new { rows = "7" })
            </div>
        </div>


        <hr />
    
        <div class="ym-fbox">
            <p>I/We make this application agreeing to be bound by all terms of this document and without limitation: the Contact Conditions, Show Rules and Regulations.</p>
        </div>
    
        <div class="ym-fbox">
            <p>Should this application be accepted and space allotted, I/we agree to fully comply with the provisions of the Exhibitor's Contractual Obligations all of which I/we acknowledge having inspected and with the Exhibitor's Information and Order Book to be provided by the organisers insofar as they may be applicable. On making this application I/we accept that the Show Organisers have the right to accept or reject the application without making public any reason.</p>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-full-width-grid">
                @Html.ValidationMessageFor(x => x.ExApp.AcceptedTermsAndConditions)
            </div>

            <div class="ym-fbox-check ym-full-width-check">
                <p><b>Please confirm you have read and understood the terms and conditions.</b> * @Html.CheckBoxFor(x => x.ExApp.AcceptedTermsAndConditions, new { @class = "ym-inline", style = "margin-left: 5px;" })</p>
            </div>
        </div>*@
    
        <div class="ym-fbox-footer ym-fbox-button">
            <input id="submit" class="float-right" type="submit" value="Continue">
        </div>
    }
}