﻿/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
/*fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}*/


/* Styles for validation helpers
-----------------------------------------------------------*/
/*.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}*/

/***************/
/* DATA PORTAL */
/***************/

body.data-portal {
    background: 0px 24px url("images/data-portal-background.png") repeat-x;
}

#data-portal-header {
    height: 239px;
    width: 100%;
    background: url("../Files/images/banner.jpg") 20px bottom #1d3b4f no-repeat;
}

#data-portal-menu {
    background: #cddcea;
    width: 100%;
    height: 40px;
}

#data-portal-menu ul {
    margin: 0;
    width: 100%;
}

#data-portal-menu li {
    list-style: none;
    margin: 0;
    float: left;
}

#data-portal-menu ul li a {
    display: block;
    padding: 10px 0 10px 20px;
    margin: 0;
    color: #1d384f;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
}

#data-portal-menu ul li a:hover, #data-portal-menu ul li.selected a {
    color: #008dcc;
}

#data-portal-content {
    margin: 20px;
}

#waiting {
    background: url('images/waiting.png');
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#waiting #spinner {
    background: url('images/spinner.gif') center center no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#current-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #cddcea;
    z-index: 10;
    font-size: .75em;
    padding: 5px 0 5px 20px;
}

/* Exhibitors */

.ym-footer-link {
    margin-top: 5px;
}

#exhibitor-list {
    /*width: 16600px;*/
}

#exhibitor-list .ym-grid {
    font-size: 80%;
    /*width: auto;*/
}

.ym-p-50 {
    width: 50px;
}

.ym-p-75 {
    width: 75px;
}

.ym-p-100 {
    width: 100px;
}

.ym-p-125 {
    width: 125px;
}

.ym-p-150 {
    width: 150px;
}

.ym-p-200 {
    width: 200px;
}

.ym-p-250 {
    width: 250px;
}

.ym-p-300 {
    width: 300px;
}

.ym-p-400 {
    width: 400px;
}

#exhibitor-list .top-row {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
    margin: 0 -5px;
    font-weight: bold;
    font-size: 80%;
    background: #e8e8e8;
}

#exhibitor-list .form-section-header.ym-grid {
    font-size: 120%;
}

#exhibitor-search-form input {
    width: 80%;
    margin: 3px 0 0 -1px;
    padding: 1px 0;
}

#exhibitor-list .std-row, #exhibitor-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#exhibitor-list .std-row div, #exhibitor-list .alt-row div {
    height: 14px;
    overflow: hidden;
}

#exhibitor-list .alt-row {
    background: #cddcea;
}

#exhibitor-list .std-row, #exhibitor-list .alt-row {
    border-bottom: 1px solid white;
}

#exhibitor-list .std-row:hover, #exhibitor-list .alt-row:hover {
    border-bottom: 1px solid black;
}

#exhibitor-list .std-row a, #exhibitor-list .alt-row a {
    display: block;
    width: 100%;
    color: #444444;
}

#exhibitor-list .std-row a:hover, #exhibitor-list .alt-row a:hover {
    color: #00618A;
}

/* Edit Exhibitor */
#admin-edit-exhibitor {
    width: 930px;
}

#admin-edit-exhibitor .checkbox-div input {
    margin-top: 5px;
}

/* Email List */
#email-list {
    width: 930px;
}

#email-list .std-row, #email-list .alt-row, #email-list .month-row {
    padding: 0 5px;
    margin: 0 -5px;
}

#email-list .std-row a, #email-list .alt-row a, #email-list .month-row a {
    padding: 5px 0;
}

#email-list .std-row, #email-list .alt-row {
    border-bottom: 1px solid white;
}

#email-list .month-row {
   border-bottom: 1px solid #e8e8e8;
   padding: 5px;
}

#email-list .std-row:hover, #email-list .alt-row:hover {
    border-bottom: 1px solid black;
}

#email-list .alt-row {
    background: #cddcea;
}

#email-list .month-row {
    font-weight: bold;
    background: #e8e8e8;
}

#email-list .subject-link a {
    display: block;
    width: 100%;
    color: #444444;
}

#email-list .subject-link a:hover {
    color: #00618A;
}

#email-list .email-actions a {
    display: inline-block;
}

#email-list .initial-email-link-off {
    height: 8px;
    width: 18px;
    margin: 3px 0 -3px 0;
    background: url("images/1st-off.png") center center no-repeat;
}

#email-list .initial-email-link-on {
    height: 8px;
    width: 18px;
    margin: 3px 0 -3px 0;
    background: url("images/1st-on.png") center center no-repeat;
}

#email-list .initial-email-link-off:hover {
    background: url("images/1st-hov.png") center center no-repeat;
}

/* Email Edit Form */

#edit-email-form {
    width: 930px;
}

.cke_combo__smartfieldlist .cke_combo_button {
    width: 110px;
}

.cke_combo__smartfieldlist .cke_combo_text {
    width: 81px;
}

.cke_combopanel {
    width: 250px;
}

/* Emails & Exhibitors */
#email-exhibitors-list {
    width: 750px;
}

#email-exhibitors-list .top-row, #email-exhibitors-list .no-row {
    padding: 5px;
    margin: 0 -5px;
}

#email-exhibitors-list .top-row {
    font-weight: bold;
    background: #e8e8e8;
}

#email-exhibitors-list .top-row a {
    font-weight: normal;
}

#email-exhibitors-list .std-row, #email-exhibitors-list .alt-row {
    padding: 5px 5px;
    margin: 0 -5px;
}

#email-exhibitors-list .std-row a, #email-exhibitors-list .alt-row a {
    display: block;
    width: 100%;
    color: #444444;
}

#email-exhibitors-list .std-row a:hover, #email-exhibitors-list .alt-row a:hover {
    color: #00618A;
}

#email-exhibitors-list .std-row.is-selected {
    background: url("images/true.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#email-exhibitors-list .alt-row.is-selected {
    background: #cddcea url("images/true.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#email-exhibitors-list .std-row.is-not-selected {
    background: url("images/false.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#email-exhibitors-list .alt-row.is-not-selected {
    background: #cddcea url("images/false.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#email-exhibitors-list .std-row:hover, #email-exhibitors-list .alt-row:hover {
    border-bottom: 1px solid black;
}

#email-exhibitors-list .is-selected a.email-link, #email-exhibitors-list .is-not-selected a.email-link {
    padding: 0 0 0 26px;
}

#email-exhibitors-list .centered, #log-list .centered {
    text-align: center;
}

#email-exhibitors-list .reminder-email, #log-list .reminder-email {
    display: block;
    height: 16px;
    width: 16px;
    margin: 1px 0 0 0;
    background: url('images/email-on.png') left center no-repeat;
}

#email-exhibitors-list .reminder-email:hover, #log-list .reminder-email:hover {
    background: url('images/email-hov.png') left center no-repeat;
}

#email-exhibitors-list .centered .reminder-email, #log-list .centered .reminder-email {
    background: url('images/email-on.png') center center no-repeat;
}

#email-exhibitors-list .centered .reminder-email:hover, #log-list .centered .reminder-email:hover {
    background: url('images/email-hov.png') center center no-repeat;
}

/* Logs */

#log-list {
    width: 1250px;
}

.ym-g30 {
    width: 30%;
}

#log-list .log-list-top-row, #log-list .std-row, #log-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#log-list .log-list-top-row {
    font-weight: bold;
    background: #e8e8e8;
}

#log-list .std-row, #log-list .alt-row {
    border-bottom: 1px solid white;
}

#log-list .std-row:hover, #log-list .alt-row:hover {
    border-bottom: 1px solid black;
}

#log-list .alt-row {
    background: #cddcea;
}

#log-list a {
    display: block;
    width: 100%;
    color: #444444;
    padding: 5px 0;
    margin: -5px 0;
}

#log-list a:hover {
    color: #00618A;
}

#log-list a.reminder-email {
    width: 100%;
    padding: 0;
}

#log-list-pages {
    padding: 5px 0;
    font-size: 110%;
}

#log-list-pages a {
    display: inline;
    width: auto;
    padding: 0 3px;
    margin: 0;
}

#log-list-pages a.current-page {
    text-decoration: underline;
}

/* Pages */

#pages {
    width: 930px;
}

#page-list {
    width: 700px;
}

#page-list .top-row, #page-list .std-row, #page-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#page-list .std-row, #page-list .alt-row
{
    border-bottom: 1px solid #ffffff;
}

#page-list .top-row {
    background: #e8e8e8;
}

#page-list a {
    display: inline-block;
    width: 100%;
    color: #444444;
    padding: 5px 0;
    margin: -5px 0;
}

#page-list a:hover {
    color: #00618A;
}

#page-list .top-row {
    font-weight: bold;
}

#page-list .alt-row {
    background: #cddcea;
}

#page-list .std-row:hover, #page-list .alt-row:hover {
    border-bottom: 1px solid #000000;
}

/* Imports */
#imports {
    width: 930px;
}

#imports .ym-form h5 {
    margin: 1em;
}

.ym-form input[type="file"] {
    cursor: pointer;
}

#imports .checkbox-div input {
    margin-top: 4px;
}

#form-field-import-list {
    width: 100%;
}

#form-field-import-list h5 {
    margin: 1.5em 0 .5em 0;
}

#import-fields div {
    width: 95%;
}

#form-field-import-list .top-row, #form-field-import-list .no-row {
    padding: 5px;
    margin: 0 -5px;
}

#form-field-import-list .top-row {
    font-weight: bold;
    background: #e8e8e8;
}

#form-field-import-list .top-row a {
    font-weight: normal;
}

#form-field-import-list .std-row, #form-field-import-list .alt-row {
    padding: 5px 5px;
    margin: 0 -5px;
}

#form-field-import-list .std-row a, #form-field-import-list .alt-row a {
    display: block;
    width: 100%;
    color: #444444;
}

#form-field-import-list .std-row a:hover, #form-field-import-list .alt-row a:hover {
    color: #00618A;
}

#form-field-import-list .std-row.include-in-import {
    background: url("images/true.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#form-field-import-list .alt-row.include-in-import {
    background: #cddcea url("images/true.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#form-field-import-list .std-row.not-included-in-import {
    background: url("images/false.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#form-field-import-list .alt-row.not-included-in-import {
    background: #cddcea url("images/false.png") 5px center no-repeat;
    border-bottom: 1px solid white;
}

#form-field-import-list .std-row:hover, #form-field-import-list .alt-row:hover {
    border-bottom: 1px solid black;
}

#form-field-import-list .include-in-import a.form-field-import-link, #form-field-import-list .not-included-in-import a.form-field-import-link{
    padding: 0 0 0 26px;
}

#form-field-import-list .centered, #log-list .centered {
    text-align: center;
}

/* Email Settings */
#email-settings-form {
    width: 930px;
}

#email-settings-form h5 {
    margin: 1em;
}

/* Portal Settings */
#portal-settings {
    width: 930px;
}

/* Forms */
#forms {
    width: 930px;
}

#form-list .form-group-row, #form-list .std-row, #form-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#form-list .form-group-row {
    background: #e8e8e8;
}

#form-list a {
    display: inline-block;
    width: 80%;
    color: #444444;
    padding: 5px 0;
    margin: -5px 0;
}

#form-list a:hover {
    color: #00618A;
}

#form-list .form-group-row a {
    font-weight: bold;
}

#form-list .name-link {
    margin-left: 7px;
}

#form-list .up-arrow {
    height: 6px;
    width: 16px;
    background: url("images/up-on.png") center center no-repeat;
}

#form-list .up-arrow:hover {
    background: url("images/up-hov.png") center center no-repeat;
}

#form-list .down-arrow {
    height: 6px;
    width: 16px;
    margin-left: -5px;
    background: url("images/down-on.png") center center no-repeat;
}

#form-list .down-arrow:hover {
    background: url("images/down-hov.png") center center no-repeat;
}

#form-list .alt-row {
    background: #cddcea;
}

#edit-form .checkbox-div input, #edit-form-field-form .checkbox-div input {
    margin-top: 5px;
}

/* Form Fields */

#edit-form-field-form h5 {
    margin: 0;
    float: left;
}

input[type="submit"].picture-submit {
    height: 16px;
    width: 16px;
    float: left;
    padding: 0;
    margin: 2px 0 0 5px;
    border: 0;
    background: url("images/save-on.png") center center no-repeat;
    background-color: none;
}

input[type="submit"].picture-submit:hover {
    border: 0;
    background: url("images/save-hov.png") center center no-repeat;
    background-color: none;
}

#edit-form-field-item-form input[type="submit"].picture-submit {
    float: right;
}

#edit-form-field-form .delete-button, #edit-form-field-item-form .delete-button {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    margin: 2px 0 0 5px;
    background: url("images/delete-on.png") center center no-repeat;
}

#edit-form-field-form .delete-button:hover, #edit-form-field-item-form .delete-button:hover {
    background: url("images/delete-hov.png") center center no-repeat;
}

#edit-form-field-item-form .delete-button {
    float: right;
}

#form-field-item-list .add-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 0 -3px 5px;
    background: url("images/add-on.png") center center no-repeat;
}

#form-field-item-list .add-button:hover {
    background: url("images/add-hov.png") center center no-repeat;
}

/* Form Field List */

#form-field-list {
    width: 730px;
}

#form-field-list .edit-content {
    position: absolute;
    display: block;
    top: 0px;
    right: 15px;
    height: 16px;
    width: 16px;
    background: url("images/edit-on.png") center center no-repeat;
    z-index: 10;
}

#form-field-list .edit-content:hover {
    background: url("images/edit-hov.png") center center no-repeat;
}

#form-field-list .arrow-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 18px;
    width: 12px;
}

#form-field-list .up-arrow {
    height: 8px;
    width: 12px;
    display: block;
    margin-bottom: 2px;
    background: url("images/up-on.png") center center no-repeat;
}

#form-field-list .up-arrow:hover {
    background: url("images/up-hov.png") center center no-repeat;
}

#form-field-list .down-arrow {
    height: 8px;
    width: 12px;
    display: block;
    background: url("images/down-on.png") center center no-repeat;
}

#form-field-list .down-arrow:hover {
    background: url("images/down-hov.png") center center no-repeat;
}

/* Form Data / Statistics */
#view-form-data .ym-grid {
    font-size: 80%;
    width: auto;
}

#view-form-data input {
    width: 80%;
    margin: 3px 0 0 -1px;
    padding: 1px 0;
}

#view-form-data .top-row, #view-form-data .no-row, #view-form-data .std-row, #view-form-data .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#view-form-data .std-row div, #view-form-data .alt-row div {
    height: 14px;
    overflow: hidden;
}

#view-form-data .top-row {
    font-weight: bold;
    background: #e8e8e8;
}

#view-form-data .top-row a {
    font-weight: normal;
}

#view-form-data .std-row a, #view-form-data .alt-row a {
    display: block;
    width: 100%;
    color: #444444;
}

#view-form-data .std-row a:hover, #view-form-data .alt-row a:hover {
    color: #00618A;
}

#view-form-data .std-row {
    border-bottom: 1px solid white;
}

#view-form-data .alt-row {
    background: #cddcea;
    border-bottom: 1px solid #cddcea;
}

#view-form-data .std-row:hover, #view-form-data .alt-row:hover {
    border-bottom: 1px solid black;
}

#view-form-data .centered {
    text-align: center;
}

#view-form-data .reminder-email {
    display: block;
    height: 16px;
    width: 16px;
    margin: 1px 0 0 0;
    background: url('images/email-on.png') left center no-repeat;
}

#view-form-data .reminder-email:hover {
    background: url('images/email-hov.png') left center no-repeat;
}

#view-form-data .centered .reminder-email {
    background: url('images/email-on.png') center center no-repeat;
}

#view-form-data .centered .reminder-email:hover {
    background: url('images/email-hov.png') center center no-repeat;
}

#view-form-data a.export-csv {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin: 1px 5px 0 0;
    background: url('images/export-off.png') center center no-repeat;
}

#view-form-data a.export-csv:hover {
    background: url('images/export-hov.png') center center no-repeat;
}

#view-form-data a.export-csv.chosen {
    background: url('images/export-on.png') center center no-repeat;
}

/* Shows */

#shows {
    width: 930px;
}

#show-list {
    width: 700px;
}

#show-list .top-row, #show-list .std-row, #show-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
}

#show-list .std-row, #show-list .alt-row
{
    border-bottom: 1px solid #ffffff;
}

#show-list .top-row {
    background: #e8e8e8;
}

#show-list a {
    display: inline-block;
    width: 100%;
    color: #444444;
    padding: 5px 0;
    margin: -5px 0;
}

#show-list a:hover {
    color: #00618A;
}

#show-list .top-row {
    font-weight: bold;
}

#show-list .alt-row {
    background: #cddcea;
}

#show-list .std-row:hover, #show-list .alt-row:hover {
    border-bottom: 1px solid #000000;
}

#choose-show {
    width: 25%;
}

#add-new-show {
    width: 50%;
}

/**********************/
/* APPLICATION PORTAL */
/**********************/

.app-portal-body {
    background-color: #1d3b4f;
}

#app-portal-wrapper {
    width: 976px;
    margin: 0 auto;
}

#shadow-top {
    position: relative;
    width: 976px;
    height: 55px;
    background: url("images/shadow-top.png") center bottom no-repeat;
}

#login-box {
    position: absolute;
    top: 3px;
    right: 13px;
    color: #b7c9df;
}

#login-box a {
    color: #b7c9df;
}

#login-box a:hover {
    color: #ffffff;
}

#shadow-middle {
    width: 976px;
    background: url("images/shadow-middle.png") top center;
}

#shadow-bottom {
    width: 976px;
    height: 43px;
    background: url("images/shadow-bottom.png") top center no-repeat;
}

#app-portal-header {
    height: 215px;
    width: 950px;
    margin-left: 13px;
    background: url("../Files/images/banner.jpg");
}

#app-portal-content-wrapper {
    width: 950px;
    margin-left: 13px;
}

#app-portal-menu {
    width: 180px;
}

#app-portal-menu ul {
    width: 180px;
    margin: 0;
}

#app-portal-menu ul li {
    list-style: none;
    margin: 0;
}

#app-portal-menu ul li a {
    display: block;
    width: 155px;
    padding: 10px 5px 10px 0;
    margin: 0 10px;
    color: #1d384f;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #1d384f;
}

#app-portal-menu ul li a:hover, #app-portal-menu ul li.selected a {
    color: #008dcc;
}

#app-portal-menu ul li a span {
    float: right;
    font-size: 1.2em;
    margin-top: -1px;
}

#app-portal-content {
    width: 730px;
    margin: 20px;
}

/* Application Form */

#application-form-container, #confirmation-form-container {
    width: 730px;
}

.required:after {
    content: " *";
}

.display-text, .form-field-text-field {
    line-height: 1.5;
    padding-top: 0.25em;
    display: block;
}

hr {
    border-bottom: 2px solid #ffffff;
    border-color: -moz-use-text-color -moz-use-text-color #ffffff;
}

.ym-form input[type="radio"], .ym-form input[type="checkbox"] {
    padding: 0;
}

/* This is for the full width labels */

.ym-columnar label.ym-full-width-label, label.ym-full-width-label, .ym-columnar .ym-label.ym-full-width-label {
    width: 100%;
    font-weight: bold;
}

/* This is for the full width radio & check boxes */

.ym-columnar .ym-full-width-check input, .ym-full-width-check input {
    margin-left: 0;
}

.ym-columnar .ym-full-width-check label, .ym-full-width-check label {
    width: 95%;
}

/* This is for the full width text areas */
.ym-columnar .ym-full-width-text textarea, .ym-full-width-text textarea, .ym-columnar .ym-full-width-text input[type="text"],
.ym-columnar .ym-full-width-text select {
    width: 100%;
}

/* This is for the full width grids */

.ym-columnar .ym-full-width-grid, .ym-full-width-grid {
    width: 100%;
    margin-left: 0;
}

/* New column widths */

.ym-g5 {
    width: 5%;
}

.ym-g10 {
    width: 10%;
}

.ym-g12 {
    width: 12.5%;
}

.ym-g15 {
    width: 15%;
}

.ym-g16 {
    width: 16.666%;
}

.ym-g30 {
    width: 30%;
}

.ym-g70 {
    width: 70%;
}

.narrow-input input, .narrow-input select {
    width: 90%;
}

/* Security Despoit section */

#credit-card-details {
    width: 80%;
    margin-left: 10%;
}

#cheque-details {
    width: 90%;
    margin-left: 10%;
}

#security-deposit-refund-details {
    width: 70%;
}

.ym-columnar .field-validation-error, .ym-full .field-validation-error {
    color: #CC3300;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 30%;
    display: block;
    line-height: 1.5;
    position: relative;
    font-size: 100%;
}

.ym-columnar .ym-full-width-grid .field-validation-error, .ym-full .field-validation-error {
    margin-left: 0;
}

.ym-columnar .input-validation-error {
    border: 1px solid #CC3300;
}

/* Login Form */
.login-form {
    width: 40%;
    margin: 0 auto;
}

.login-form h5, .admin-login-form h5 {
    margin: 1em;
}

.admin-login-form {
    width: 25%;
}

/* Exhibitor Portal */

#exhibitor-form-list .form-group-row, #exhibitor-form-list .std-row, #exhibitor-form-list .alt-row {
    padding: 5px;
    margin: 0 -5px;
    border-bottom: 1px solid #ffffff;
}

#exhibitor-form-list .std-row:hover, #exhibitor-form-list .alt-row:hover {
    border-bottom: 1px solid #000000;
}

#exhibitor-form-list .form-group-row {
    font-weight: bold;
    background: #e8e8e8;
}

#exhibitor-form-list .form-group-row a {
    font-weight: bold;
    padding-right: 20px;
    width: auto;
    background: url('images/edit-off.png') center right no-repeat;
}

#exhibitor-form-list .form-group-row a:hover {
    background: url('images/edit-hov.png') center right no-repeat;
} 

#exhibitor-form-list .centered {
    text-align: center;
}

#exhibitor-form-list a {
    display: inline-block;
    width: 100%;
    color: #444444;
    padding: 5px 0;
    margin: -5px 0;
    font-weight: normal;
}

#exhibitor-form-list a:hover {
    color: #00618A;
}

#exhibitor-form-list .alt-row {
    background: #cddcea;
    border-bottom: 1px solid #cddcea;
}

#exhibitor-form-list .due-row {
    color: #FF0606;
    font-weight: bold;
}

#exhibitor-form-list .completed, #exhibitor-form-list .not-completed {
    height: 16px;
    width: 16px;
    margin: 0 auto;
}

#exhibitor-form-list .completed {
    background: url("images/true.png") center center no-repeat;
}

#exhibitor-form-list .not-completed {
    background: url("images/false.png") center center no-repeat;
}

/* Exhibitor Portal Form Customizations */

#exhibitor-portal .ym-columnar label.ym-full-width-label, #exhibitor-portal label.ym-full-width-label {
    font-weight: normal;
}

/*Dynamic Form - These are used to style both the form the admins and exhibitors see*/
.ym-gbox-left.ym-fbox-check.radio-buttons, .ym-gbox-left.ym-fbox-check.radio-buttons label {
    float: left;
    margin-right: 3px;
}

.ym-gbox-left.ym-fbox-check.radio-buttons {
    margin-top: 4px;
}

.dynamic-form .ym-fbox-check input {
    margin-top: 1px;
}

.dynamic-form .checkbox-div input {
    margin-top: 8px;
}

.dynamic-form h1,
.dynamic-form h2,
.dynamic-form h3,
.dynamic-form h4,
.dynamic-form h5 {
    margin-left: 0;
}

.ym-columnar .field-validation-error.full-width-error {
    margin-left: 0;
}

.dynamic-form .form-file-upload .ym-fbox-wrap {
    border: 1px solid #dddddd;
    padding: 5px 0;
    background: #F2F2F2;
    margin: 0 -3px 0 0;
    float: right;
}

.dynamic-form .form-file-upload .form-file-upload-text {
    color: #cecece;
    padding: 4px 0 0 5px;
    float: left;
}

.dynamic-form .form-file-upload a.upload-button {
    float: right;
    margin-right: 5px;
}




