﻿@model BTT.CaravanQLD.AppPortal.Models.AddNewExhibitorModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Exhibitor List", "ExhibitorList", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
</p>
<div id="application-form-container">
    @using (Ajax.BeginForm("AddNewExhibitor", "DataPortal", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "showNotification('Your changes have been saved.', 'success')", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar dynamic-form", id = "admin-edit-exhibitor" }))
    {
        @Html.HiddenFor(x => x.Exhibitor.Id)
        @Html.HiddenFor(x => x.Exhibitor.DateAdded)
        @Html.HiddenFor(x => x.Exhibitor.LinkedShowId)
        
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.Exhibitor.ShowId)
            @Html.TextBoxFor(x => x.Exhibitor.ShowId)
        </div>

        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();

            for (int i = 0; i < formFields.Count; i++)
            {
                //Required class not needed for editing the exhibitor
                var requiredClass = "";

                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextBox(formFields[i].Id.ToString())
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextBox(formFields[i].Id.ToString())
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextArea(formFields[i].Id.ToString(), new { rows = 5 })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextArea(formFields[i].Id.ToString(), new { rows = 5 })
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    var dropDownItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
                    {
                        Text = x.Text,
                        Value = x.Value
                    }).ToList();

                    dropDownItems.Insert(0, new SelectListItem()
                    {
                        Text = "",
                        Value = ""
                    });

                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        var isMandatory = formFields[i].Mandatory ? "*" : "";
                        <div class="ym-fbox ym-full-width-check">
                            <p>
                                <b>@Html.Raw(formFields[i].Label)@isMandatory</b>
                                @*@Html.CheckBox(Guid.NewGuid().ToString(), new { @class = "ym-inline", style = "margin-left: 5px;" })*@
                                <input name="@formFields[i].Id.ToString()" class="ym-inline" style="margin-left: 5px;" type="checkbox" value="True" />
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox checkbox-div">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @*@Html.CheckBox(Guid.NewGuid().ToString())*@
                            <input name="@formFields[i].Id.ToString()" type="checkbox" value="True" />
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" />
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            <input name="@formFieldItems[secondItem].Id.ToString()" type="checkbox" value="True" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <div class="ym-full-width-grid">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            </div>

                            @{
                        var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>

                            @{
                        var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                @*else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].TextField == "%Show ID%")
                    {
                        if (formFields[i].SpanTwoColumns)
                        {
                            <div class="ym-fbox">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                    <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <label class="@requiredClass">@formFields[i].Label</label>
                                <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                            </div>
                        }
                    }
                }*@
            }
        }

        <div class="ym-fbox-footer ym-fbox-button">
            <input type="submit" value="Save" />
        </div>
    }
</div>