﻿@model BTT.CaravanQLD.AppPortal.Models.AddNewShowModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Show List", "ShowList", new AjaxOptions() { UpdateTargetId = "shows", LoadingElementId = "waiting" })
</p>

<p>A new show must be based on an existing show. This will copy all of the form sections, form fields, page, emails, and email settings to your new show.</p>

@using (Ajax.BeginForm("AddNewShow", "DataPortal", null, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "waiting", UpdateTargetId = "shows" }, new { @class = "ym-form ym-full", id = "add-new-show" }))
{
    <div class="ym-fbox">
        @Html.Label("Choose a Show")
        @Html.DropDownListFor(x => x.Show, new SelectList(Model.Shows, "Id", "Name"))
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Select" />
    </div>
}