﻿@model BTT.CaravanQLD.AppPortal.Models.CKEditorModel
@using BTT.CaravanQLD.AppPortal.Models

<p>@Ajax.ActionLink("Welcome", "CKEditor", "DataPortal", new { SelectedFileName = "Welcome\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("General Information", "CKEditor", "DataPortal", new { SelectedFileName = "General_Information\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("Space Rates", "CKEditor", "DataPortal", new { SelectedFileName = "Space_Rates\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("Site Plans", "CKEditor", "DataPortal", new { SelectedFileName = "Site_Plans\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("Apply Now", "CKEditor", "DataPortal", new { SelectedFileName = "Apply_Now\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("Application Confirmation", "CKEditor", "DataPortal", new { SelectedFileName = "Confirmation\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
<br />@Ajax.ActionLink("Login", "CKEditor", "DataPortal", new { SelectedFileName = "Account\\Content.cshtml", TimeNow = DateTime.Now.ToShortTimeString() }, new AjaxOptions() { UpdateTargetId = "ckeditor", OnSuccess = "createCKEditor", LoadingElementId = "waiting" })
</p>


@if (Model != null && !String.IsNullOrEmpty(Model.FileName))
{
    using (Ajax.BeginForm("CKEditor", "DataPortal", new AjaxOptions() { UpdateTargetId = "ckeditor", HttpMethod = "POST", OnSuccess = "createCKEditor();showNotification('Your changes have been saved.', 'success');", OnFailure = "showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { id = "ckEditorForm" }))
    { 
        <input type="hidden" name="FileName" id="FileName" value="@Model.FileName" />
        <input type="hidden" name="PageContent" id="PageContent" value="" />
        <textarea name="ckeditor-page-content" id="ckeditor-page-content">@Model.PageContent</textarea>
        <a href="javascript:void(0)" class="ym-button" onclick="getNewPageContentSubmitForm()">Save Changes</a>
    }
}
else
{
    <p><b>Please select a page to edit.</b></p>
}