﻿@model BTT.CaravanQLD.AppPortal.Models.DeleteAllDataModel

<div class="box info">
<p>
    Total number of Exhibitors: @Model.ExhibitorCount
    <br />Total number of Emails: @Model.EmailCount
    <br />Total number of Email Logs: @Model.EmailLogCount
</p>

<p class="highlight">
    @Ajax.ActionLink("Delete All Exhibitors", "DeleteExhibitors", new AjaxOptions() { HttpMethod = "GET", Confirm = "Do you really want to delete all the exhibitors?", UpdateTargetId = "portal-settings", OnSuccess = "showNotification('All the exhibitors have been deleted.', 'success')", OnFailure = "showNotification('There was a problem when we tried to delete all the exhibitors. Please try again.', 'error')", LoadingElementId = "waiting" }) - <i>Warning - If you proceed, all exhibitors and email logs will be deleted from the portal.</i>
    <br />@Ajax.ActionLink("Delete All Emails", "DeleteEmails", new AjaxOptions() { HttpMethod = "GET", Confirm = "Do you really want to delete all the emails?", UpdateTargetId = "portal-settings", OnSuccess = "showNotification('All the emails have been deleted.', 'success')", OnFailure = "showNotification('There was a problem when we tried to delete all the emails. Please try again.', 'error')", LoadingElementId = "waiting" }) - <i>Warning - If you proceed, all emails and email logs will be deleted from the portal.</i>
    <br />@Ajax.ActionLink("Delete All Data", "DeleteData", new AjaxOptions() { HttpMethod = "GET", Confirm = "Do you really want to delete all the exhibitors, emails, and email logs?", UpdateTargetId = "portal-settings", OnSuccess = "showNotification('All the data has been deleted.', 'success')", OnFailure = "showNotification('There was a problem when we tried to delete all the data. Please try again.', 'error')", LoadingElementId = "waiting" }) - <i>Warning - If you proceed, all exhibitors, emails, and email logs will be deleted from the portal.</i>
</p>
</div>