﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormFieldItemModel
@using BTT.CaravanQLD.AppPortal.Helpers

@using (Ajax.BeginForm("EditFormFieldItem", "DataPortal", new AjaxOptions() { UpdateTargetId = "edit-form-field-item", OnSuccess = "reloadFormFieldItemList()" }, new { @class = "ym-form", id = "edit-form-field-item-form" }))
{
    @Html.HiddenFor(x => x.FormFieldItem.Id)

    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormFieldItem.Text)
            </div>

            <div class="ym-g25 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormFieldItem.Text)
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormFieldItem.Value)
            </div>

            <div class="ym-g25 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormFieldItem.Value)
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormFieldItem.Order)
            </div>

            <div class="ym-g10 ym-gl">
                @Html.TextBoxFor(x => x.FormFieldItem.Order)
            </div>

            <div class="ym-g10 ym-gr">
                @Ajax.ActionLink(" ", "DeleteFormFieldItem/" + Model.FormFieldItem.Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-item-list", Confirm = "Do you really want to delete this field item?", OnSuccess = "$('#edit-form-field-item').html('');" }, new { @class = "delete-button" })
                <input class="picture-submit" type="submit" value="" />
            </div>
        </div>
    </div>
}