﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormFieldModel
@using BTT.CaravanQLD.Model
@using BTT.CaravanQLD.AppPortal.Helpers

@using (Ajax.BeginForm("EditFormField", "DataPortal", new AjaxOptions() { UpdateTargetId = "edit-form-field", OnSuccess = "reloadFormFieldList()", LoadingElementId = "waiting" }, new { @class = "ym-form", id = "edit-form-field-form" }))
{
    @Html.HiddenFor(x => x.FormField.Id)
    @Html.HiddenFor(x => x.FormField.FormId)

    <div class="ym-fbox">
        <h5>Edit Field</h5>
        <input class="picture-submit" type="submit" value="" />
        @Ajax.ActionLink(" ", "DeleteFormField/" + Model.FormField.Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", Confirm = "Do you really want to delete this field? All exhibitor data for this field will be removed and cannot be recovered.", OnSuccess = "$('#edit-form-field').html('');", LoadingElementId = "waiting" }, new { @class = "delete-button" })
    </div>
    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Name)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Name)
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Label)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Label)
            </div>

            <div id="span-two-columns-checkbox">
                <div class="ym-g15 ym-gl">
                    @Html.LabelTitleizeFor(x => x.FormField.SpanTwoColumns)
                </div>

                <div class="ym-g5 ym-gr checkbox-div">
                    @Html.CheckBoxFor(x => x.FormField.SpanTwoColumns)
                </div>
            </div>
        </div>
    </div>

    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.DataType)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.DropDownListFor(x => x.FormField.DataType, Model.FormField.DataType.ToSelectList())
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Order)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Order)
            </div>

            <div id="mandatory-checkbox">
                <div class="ym-g15 ym-gl">
                    @Html.LabelTitleizeFor(x => x.FormField.Mandatory)
                </div>

                <div class="ym-g5 ym-gr checkbox-div">
                    @Html.CheckBoxFor(x => x.FormField.Mandatory)
                </div>
            </div>
        </div>
    </div>
    
    <div id="mandatory-only-if" class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g20 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.MandatoryFormField)
            </div>
            <div class="ym-g30 ym-gl narrow-input">
                @Html.DropDownListFor(x => x.FormField.MandatoryFormFieldId, Model.MandatoryFormFieldList)
            </div>
            <div class="ym-g20 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.MandatoryFormFieldValue)
            </div>
            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.MandatoryFormFieldValue)
            </div>
        </div>
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div id="validation-drop-down">
                <div class="ym-g10 ym-gl">
                    @Html.LabelTitleizeFor(x => x.FormField.ValidationType)
                </div>

                <div class="ym-g30 ym-gl narrow-input">
                    @Html.DropDownListFor(x => x.FormField.ValidationType, Model.FormField.ValidationType.ToSelectList())
                </div>
            </div>

            <div id="text-field-drop-down">
                <div class="ym-g10 ym-gl">
                    @Html.LabelTitleizeFor(x => x.FormField.TextField)
                </div>

                <div class="ym-g30 ym-gl narrow-input">
                    @Html.DropDownListFor(x => x.FormField.TextField, Model.TextFieldList)
                </div>
            </div>

            <div id="confirmation-field-drop-down">
                <div class="ym-g10 ym-gl">
                    @Html.LabelTitleizeFor(x => x.FormField.ConfirmationField)
                </div>

                <div class="ym-g30 ym-gl narrow-input">
                    @Html.DropDownListFor(x => x.FormField.ConfirmationField, Model.ConfirmFieldList)
                </div>
            </div>
        </div>
    </div>

    <div id="text-content-div" class="ym-fbox ym-full-width-text">
        @Html.LabelTitleizeFor(x => x.FormField.TextContent, "ym-full-width-label")
        @Html.TextAreaFor(x => x.FormField.TextContent)
    </div>

    <div class="ym-fbox">
        <div id="form-field-item-list">
            @* Important Div *@
        </div>
    </div>
}

<div id="edit-form-field-item">
    @* Going to get the edit form going on in here *@
</div>
