﻿@model BTT.CaravanQLD.AppPortal.Models.EditEmailModel
@using BTT.CaravanQLD.AppPortal.Helpers


<p>@Ajax.ActionLink("Back to Email List", "EmailList", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" }) 
    |  @Ajax.ActionLink("View Logs", "LogListForEmail/" + Model.Email.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    |  @Ajax.ActionLink("Change Exhibitors", "ChangeEmailsExhibitors/" + Model.Email.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditEmail", "DataPortal", new AjaxOptions() { UpdateTargetId = "emails", HttpMethod = "POST", OnSuccess = "createCKEditorForEmails();showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form", id = "edit-email-form" }))
{
    @Html.HiddenFor(x => x.Email.Id)
    @Html.HiddenFor(x => x.Email.LinkedShowId)
    
    <h2>Edit Email</h2>
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.ValidationMessageFor(x => x.Email.Subject)
            @Html.LabelTitleizeFor(x => x.Email.Subject)
            @Html.TextBoxFor(x => x.Email.Subject)
        </div>
    </div>
    
    @*<div class="ym-fbox">
        <div class="ym-fbox-check">
            @Html.ValidationMessageFor(x => x.Email.IsInitialEmail)
            @Html.CheckBoxFor(x => x.Email.IsInitialEmail)
            @Html.LabelTitleizeFor(x => x.Email.IsInitialEmail)
        </div>
    </div>*@
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.ValidationMessageFor(x => x.Email.Body)
            @Html.LabelTitleizeFor(x => x.Email.Body)
            @Html.TextAreaFor(x => x.Email.Body)
        </div>
    </div>
    
    <div class="ym-fbox-footer ym-fbox-button">
        @*<a href="javascript:void(0)" class="ym-button" onclick="document.getElementById('edit-email-form').submit();">Save</a>*@ 
        <input type="submit" value="Save" />
        @Ajax.ActionLink("Send Email", "SendEmail", new { id = Model.Email.Id }, new AjaxOptions() { HttpMethod = "GET", Confirm = "Please confirm that you have saved your changes and that you really want to send this email.", OnSuccess = "showNotification('Your emails have been sent.', 'success')", OnFailure = "showNotification('One or more of your emails have failed to send. Check your logs to see which emails have sent and please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
        @Ajax.ActionLink("Send Test Email", "SendTestEmail", new { id = Model.Email.Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('Your test email has been sent.', 'success')", OnFailure = "showNotification('Your test email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Email", "DeleteEmail/" + Model.Email.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", Confirm = "Do you really want to delete this email and its email logs?", OnSuccess = "showNotification('Your email has been deleted.', 'success')", OnFailure = "showNotification('Your email has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}

