﻿@model BTT.CaravanQLD.AppPortal.Models.EditWebProspectFieldsModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Show", "EditShow/" + Model.Show.Id.ToString(), new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "createDatePickerForShows();createCKEditorsForShow();", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditWebProspectFields", "DataPortal", new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-web-prospect-fields" }))
{
    @Html.HiddenFor(x => x.Show.Id)
    
    <h2>Edit Web Prospect Fields</h2>
    
    <div class="ym-fbox">
        <p>Enter the Web Prospect Field Name for each field that you want included in the Web Prospect email. If you do not wish a field to be included in the email, simply leave the field blank.</p>
    </div>
    
    <h5>Static Fields</h5>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Show.ShowId)
        @Html.TextBoxFor(x => x.Show.ShowId)
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Show.DateSubmitted)
        @Html.TextBoxFor(x => x.Show.DateSubmitted)
    </div>
    
    foreach (var formSection in Model.FormSections)
	{
        <h5>@formSection.Name</h5>
        foreach (var formField in formSection.FormFields.OrderBy(x => x.Order))
	    {
            if (formField.DataType != FormDataType.ContentSection && formField.DataType != FormDataType.TextField)
            {
                <div class="ym-fbox">
                    <label>@formField.Name</label>
                    @Html.TextBox(formField.Id.ToString(), formField.WebProspectFieldName)
                </div>
            }
	    }
	}
    
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
    </div>
}
