﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Section List", "FormList", new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
    @*| @Ajax.ActionLink("View Section Data", "ViewFormData/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "updateFormDivWidth()", LoadingElementId = "waiting" })*@
    | @Ajax.ActionLink("Construct Section Fields", "EditStandardForm/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditForm", "DataPortal", new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "setupFormForm();showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-form" }))
{
    @Html.HiddenFor(x => x.Form.Id)
    @Html.HiddenFor(x => x.Form.LinkedShowId)

    <h2>Edit Section</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.Name)
        @Html.LabelTitleizeFor(x => x.Form.Name)
        @Html.TextBoxFor(x => x.Form.Name)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.Order)
        @Html.LabelTitleizeFor(x => x.Form.Order)
        @Html.TextBoxFor(x => x.Form.Order)
    </div>

    <div class="ym-fbox checkbox-div">
        @Html.ValidationMessageFor(x => x.Form.IsCurrent)
        @Html.LabelFor(x => x.Form.IsCurrent)
        @Html.CheckBoxFor(x => x.Form.IsCurrent)
    </div>
    
    <div class="ym-fbox checkbox-div">
        @Html.ValidationMessageFor(x => x.Form.IncludeInExhibitorList)
        @Html.LabelTitleizeFor(x => x.Form.IncludeInExhibitorList)
        @Html.CheckBoxFor(x => x.Form.IncludeInExhibitorList)
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Section", "DeleteForm/" + Model.Form.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", Confirm = "Do you really want to delete this section?", OnSuccess = "showNotification('The section has been deleted.', 'success')", OnFailure = "showNotification('The section has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}