﻿@model BTT.CaravanQLD.AppPortal.Models.EditExhibitorModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Exhibitor List", "ExhibitorList", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("View Logs", "LogListForExhibitor/" + Model.Exhibitor.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
</p>

<div id="application-form-container">

    @using (Ajax.BeginForm("EditExhibitor", "DataPortal", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "showNotification('Your changes have been saved.', 'success')", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar dynamic-form", id = "admin-edit-exhibitor" }))
    {
        @Html.HiddenFor(x => x.Exhibitor.Id)
        @Html.HiddenFor(x => x.Exhibitor.DateAdded)
        @Html.HiddenFor(x => x.Exhibitor.LinkedShowId)

        <div class="ym-fbox-footer ym-fbox-button">
            <input type="submit" value="Save" />
            @*@Ajax.ActionLink("Reset Application", "ResetExhibitorApplication", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "This will reset all of the current exhibitor's fields except for the exhibitor's details displayed on this screen. The exhibitor will have to fill out their application again from scratch. Do you want to continue?", OnSuccess = "showNotification('The exhibitor has been reset.', 'success')", OnFailure = "showNotification('There was a problem when we tried to reset the current exhibitor. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })*@
            @Ajax.ActionLink("Reset Date Submitted", "ResetExhibitorDateSubmitted", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "This will reset the date submitted for the current exhibitor. The exhibitor will be able to correct their application and re-submit it to you. Do you want to continue?", OnSuccess = "showNotification('The date submitted has been reset for the current exhibitor.', 'success')", OnFailure = "showNotification('There was a problem when we tried to reset the date submitted. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
            @Ajax.ActionLink("Delete Exhibitor", "DeleteExhibitor", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "Do you really want to delete this exhibitor? All data will be removed and cannot be recovered.", OnSuccess = "showNotification('The exhibitor has been deleted.', 'success')", OnFailure = "showNotification('The exhibitor has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
            <br />@Ajax.ActionLink("Resend Confirmation Email", "ResendConfirmationEmail", "Confirmation", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The confirmation email has been resent.', 'success')", OnFailure = "showNotification('The confirmation email has not been resent. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
            @Ajax.ActionLink("Resend Web Prospect Email", "ResendWebProspectEmail", "Confirmation", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The web prospect email has been resent.', 'success')", OnFailure = "showNotification('The web prospect email has not been resent. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
        </div>
        
        var dateSubmitted = Model.Exhibitor.DateSubmitted == null ? "Never" : Convert.ToDateTime(Model.Exhibitor.DateSubmitted).ToString("dd/MM/yyyy");
        var acceptedTermsConditions = Model.Exhibitor.AcceptedTermsAndConditions ? "Yes" : "No";
        
        <div class="ym-fbox">
            <label>Date Submitted</label>
            <div class="form-field-text-field">@dateSubmitted</div>
        </div>
        
        <div class="ym-fbox">
            <label>Accepted Terms & Conditions</label>
            <div class="form-field-text-field">@acceptedTermsConditions</div>
        </div>
        
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.Exhibitor.ShowId)
            @Html.TextBoxFor(x => x.Exhibitor.ShowId)
        </div>

        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();

            for (int i = 0; i < formFields.Count; i++)
            {
                //Required class not needed for editing the exhibitor
                var requiredClass = "";
                var formFieldValue = Model.FormFieldValues.FirstOrDefault(x => x.FormFieldId == formFields[i].Id);
                
                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextBox(formFields[i].Id.ToString(), formFieldValue.Value)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextBox(formFields[i].Id.ToString(), formFieldValue.Value)
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextArea(formFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextArea(formFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 })
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    var dropDownItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
                    {
                        Text = x.Text,
                        Value = x.Value,
                        Selected = formFieldValue.Value == x.Value
                    }).ToList();

                    dropDownItems.Insert(0, new SelectListItem()
                    {
                        Text = "",
                        Value = ""
                    });

                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.DropDownList(formFields[i].Id.ToString(), dropDownItems)
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        var isMandatory = formFields[i].Mandatory ? "*" : "";
                        <div class="ym-fbox ym-full-width-check">
                            <p>
                                <b>@Html.Raw(formFields[i].Label)@isMandatory</b>
                                @*@Html.CheckBox(Guid.NewGuid().ToString(), new { @class = "ym-inline", style = "margin-left: 5px;" })*@
                                @{var isChecked = !String.IsNullOrEmpty(formFieldValue.Value) ? "checked='checked'" : "";}
                                <input name="@formFields[i].Id.ToString()" class="ym-inline" style="margin-left: 5px;" type="checkbox" value="True" @isChecked />
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox checkbox-div">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @*@Html.CheckBox(Guid.NewGuid().ToString())*@
                            @{var isChecked = !String.IsNullOrEmpty(formFieldValue.Value) ? "checked='checked'" : "";}
                            <input name="@formFields[i].Id.ToString()" type="checkbox" value="True" @isChecked />
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            @{isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[secondItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[secondItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                            <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <div class="ym-full-width-grid">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            </div>

                            @{
                                var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>

                            @{
                                var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                            }
                            <div class="ym-fbox-wrap">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(formFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                @*else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].TextField == "%Show ID%")
                    {
                        if (formFields[i].SpanTwoColumns)
                        {
                            <div class="ym-fbox">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                    <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <label class="@requiredClass">@formFields[i].Label</label>
                                <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                            </div>
                        }
                    }
                }*@
            }
        }

        <div class="ym-fbox-footer ym-fbox-button">
            <input type="submit" value="Save" />
            @*@Ajax.ActionLink("Reset Application", "ResetExhibitorApplication", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "This will reset all of the current exhibitor's fields except for the exhibitor's details displayed on this screen. The exhibitor will have to fill out their application again from scratch. Do you want to continue?", OnSuccess = "showNotification('The exhibitor has been reset.', 'success')", OnFailure = "showNotification('There was a problem when we tried to reset the current exhibitor. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })*@
            @Ajax.ActionLink("Reset Date Submitted", "ResetExhibitorDateSubmitted", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "This will reset the date submitted for the current exhibitor. The exhibitor will be able to correct their application and re-submit it to you. Do you want to continue?", OnSuccess = "showNotification('The date submitted has been reset for the current exhibitor.', 'success')", OnFailure = "showNotification('There was a problem when we tried to reset the date submitted. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
            @Ajax.ActionLink("Delete Exhibitor", "DeleteExhibitor", new { id = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "Do you really want to delete this exhibitor? All data will be removed and cannot be recovered.", OnSuccess = "showNotification('The exhibitor has been deleted.', 'success')", OnFailure = "showNotification('The exhibitor has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "ym-button" })
        </div>
    }
</div>

