﻿@model BTT.CaravanQLD.AppPortal.Models.EditShowWebProspectFieldsModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Show", "EditShow/" + Model.Show.Id.ToString(), new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "createDatePickerForShows();createCKEditorsForShow();", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditShowWebProspectFields", "DataPortal", new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-show-web-prospect-fields" }))
{
    @Html.HiddenFor(x => x.Show.Id)

    <h2>Edit Show Web Prospect Fields</h2>
    <h5>Exhibitor Details</h5>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowId)
        @Html.LabelTitleizeFor(x => x.Show.ShowId)
        @Html.TextBoxFor(x => x.Show.ShowId)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.TradingName)
        @Html.LabelTitleizeFor(x => x.Show.TradingName)
        @Html.TextBoxFor(x => x.Show.TradingName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowListingName)
        @Html.LabelTitleizeFor(x => x.Show.ShowListingName)
        @Html.TextBoxFor(x => x.Show.ShowListingName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AddressLine1)
        @Html.LabelTitleizeFor(x => x.Show.AddressLine1)
        @Html.TextBoxFor(x => x.Show.AddressLine1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AddressLine2)
        @Html.LabelTitleizeFor(x => x.Show.AddressLine2)
        @Html.TextBoxFor(x => x.Show.AddressLine2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Suburb)
        @Html.LabelTitleizeFor(x => x.Show.Suburb)
        @Html.TextBoxFor(x => x.Show.Suburb)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.State)
        @Html.LabelTitleizeFor(x => x.Show.State)
        @Html.TextBoxFor(x => x.Show.State)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Postcode)
        @Html.LabelTitleizeFor(x => x.Show.Postcode)
        @Html.TextBoxFor(x => x.Show.Postcode)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ExhibitorPhone)
        @Html.LabelTitleizeFor(x => x.Show.ExhibitorPhone)
        @Html.TextBoxFor(x => x.Show.ExhibitorPhone)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ExhibitorFax)
        @Html.LabelTitleizeFor(x => x.Show.ExhibitorFax)
        @Html.TextBoxFor(x => x.Show.ExhibitorFax)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ExhibitorEmail)
        @Html.LabelTitleizeFor(x => x.Show.ExhibitorEmail)
        @Html.TextBoxFor(x => x.Show.ExhibitorEmail)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Website)
        @Html.LabelTitleizeFor(x => x.Show.Website)
        @Html.TextBoxFor(x => x.Show.Website)
    </div>
    
    <h5>Contact Person Details</h5>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Title)
        @Html.LabelTitleizeFor(x => x.Show.Title)
        @Html.TextBoxFor(x => x.Show.Title)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FirstName)
        @Html.LabelTitleizeFor(x => x.Show.FirstName)
        @Html.TextBoxFor(x => x.Show.FirstName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Surname)
        @Html.LabelTitleizeFor(x => x.Show.Surname)
        @Html.TextBoxFor(x => x.Show.Surname)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Mobile)
        @Html.LabelTitleizeFor(x => x.Show.Mobile)
        @Html.TextBoxFor(x => x.Show.Mobile)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Phone)
        @Html.LabelTitleizeFor(x => x.Show.Phone)
        @Html.TextBoxFor(x => x.Show.Phone)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Email)
        @Html.LabelTitleizeFor(x => x.Show.Email)
        @Html.TextBoxFor(x => x.Show.Email)
    </div>
    
    <h5>Show Contact Person Details</h5>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.IsShowContact)
        @Html.LabelTitleizeFor(x => x.Show.IsShowContact)
        @Html.TextBoxFor(x => x.Show.IsShowContact)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowContactTitle)
        @Html.LabelTitleizeFor(x => x.Show.ShowContactTitle)
        @Html.TextBoxFor(x => x.Show.ShowContactTitle)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowContactFirstName)
        @Html.LabelTitleizeFor(x => x.Show.ShowContactFirstName)
        @Html.TextBoxFor(x => x.Show.ShowContactFirstName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowContactSurname)
        @Html.LabelTitleizeFor(x => x.Show.ShowContactSurname)
        @Html.TextBoxFor(x => x.Show.ShowContactSurname)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowContactMobile)
        @Html.LabelTitleizeFor(x => x.Show.ShowContactMobile)
        @Html.TextBoxFor(x => x.Show.ShowContactMobile)
    </div>

    if (Model.Show.ShowType == ShowType.Main)
    {
        <h5>Member / CIAA Contributor</h5>
        
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.IsCQMember)
            @Html.LabelTitleizeFor(x => x.Show.IsCQMember)
            @Html.TextBoxFor(x => x.Show.IsCQMember)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.CaravanQLDMember)
            @Html.LabelTitleizeFor(x => x.Show.CaravanQLDMember)
            @Html.TextBoxFor(x => x.Show.CaravanQLDMember)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.CaravanQLDAssociate)
            @Html.LabelTitleizeFor(x => x.Show.CaravanQLDAssociate)
            @Html.TextBoxFor(x => x.Show.CaravanQLDAssociate)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.CaravanQLDMembershipID)
            @Html.LabelTitleizeFor(x => x.Show.CaravanQLDMembershipID)
            @Html.TextBoxFor(x => x.Show.CaravanQLDMembershipID)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.IsInterstateMember)
            @Html.LabelTitleizeFor(x => x.Show.IsInterstateMember)
            @Html.TextBoxFor(x => x.Show.IsInterstateMember)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.InterstateMember)
            @Html.LabelTitleizeFor(x => x.Show.InterstateMember)
            @Html.TextBoxFor(x => x.Show.InterstateMember)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.InterstateAssociate)
            @Html.LabelTitleizeFor(x => x.Show.InterstateAssociate)
            @Html.TextBoxFor(x => x.Show.InterstateAssociate)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.InterstateMemberStatus)
            @Html.LabelTitleizeFor(x => x.Show.InterstateMemberStatus)
            @Html.TextBoxFor(x => x.Show.InterstateMemberStatus)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.CRVAContributor)
            @Html.LabelTitleizeFor(x => x.Show.CRVAContributor)
            @Html.TextBoxFor(x => x.Show.CRVAContributor)
        </div>
    }
    
    <h5>Site Preference</h5>
    
    if (Model.Show.ShowType == ShowType.Sales || Model.Show.OnlyOptionB)
    {
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.MarqueeRequired)
            @Html.LabelTitleizeFor(x => x.Show.MarqueeRequired)
            @Html.TextBoxFor(x => x.Show.MarqueeRequired)
        </div>
    }
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.StandChoice1)
        @Html.LabelTitleizeFor(x => x.Show.StandChoice1)
        @Html.TextBoxFor(x => x.Show.StandChoice1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.StandChoice2)
        @Html.LabelTitleizeFor(x => x.Show.StandChoice2)
        @Html.TextBoxFor(x => x.Show.StandChoice2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.StandChoice3)
        @Html.LabelTitleizeFor(x => x.Show.StandChoice3)
        @Html.TextBoxFor(x => x.Show.StandChoice3)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FrontageRequired)
        @Html.LabelTitleizeFor(x => x.Show.FrontageRequired)
        @Html.TextBoxFor(x => x.Show.FrontageRequired)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.DepthRequired)
        @Html.LabelTitleizeFor(x => x.Show.DepthRequired)
        @Html.TextBoxFor(x => x.Show.DepthRequired)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FrontageRequested)
        @Html.LabelTitleizeFor(x => x.Show.FrontageRequested)
        @Html.TextBoxFor(x => x.Show.FrontageRequested)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.DepthRequested)
        @Html.LabelTitleizeFor(x => x.Show.DepthRequested)
        @Html.TextBoxFor(x => x.Show.DepthRequested)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.LocationRequested)
        @Html.LabelTitleizeFor(x => x.Show.LocationRequested)
        @Html.TextBoxFor(x => x.Show.LocationRequested)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShellSchemeWPF)
        @Html.LabelTitleizeFor(x => x.Show.ShellSchemeWPF)
        @Html.TextBoxFor(x => x.Show.ShellSchemeWPF)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AmplificationRequired)
        @Html.LabelTitleizeFor(x => x.Show.AmplificationRequired)
        @Html.TextBoxFor(x => x.Show.AmplificationRequired)
    </div>
    
    <h5>Products / Services</h5>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Products)
        @Html.LabelTitleizeFor(x => x.Show.Products)
        @Html.TextBoxFor(x => x.Show.Products)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand1)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand1)
        @Html.TextBoxFor(x => x.Show.CaravanBrand1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand2)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand2)
        @Html.TextBoxFor(x => x.Show.CaravanBrand2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand3)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand3)
        @Html.TextBoxFor(x => x.Show.CaravanBrand3)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand4)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand4)
        @Html.TextBoxFor(x => x.Show.CaravanBrand4)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand5)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand5)
        @Html.TextBoxFor(x => x.Show.CaravanBrand5)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravanBrand6)
        @Html.LabelTitleizeFor(x => x.Show.CaravanBrand6)
        @Html.TextBoxFor(x => x.Show.CaravanBrand6)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand1)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand1)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand2)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand2)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand3)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand3)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand3)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand4)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand4)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand4)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand5)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand5)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand5)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailerBrand6)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailerBrand6)
        @Html.TextBoxFor(x => x.Show.CamperTrailerBrand6)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MotorhomeBrand1)
        @Html.LabelTitleizeFor(x => x.Show.MotorhomeBrand1)
        @Html.TextBoxFor(x => x.Show.MotorhomeBrand1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MotorhomeBrand2)
        @Html.LabelTitleizeFor(x => x.Show.MotorhomeBrand2)
        @Html.TextBoxFor(x => x.Show.MotorhomeBrand2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MotorhomeBrand3)
        @Html.LabelTitleizeFor(x => x.Show.MotorhomeBrand3)
        @Html.TextBoxFor(x => x.Show.MotorhomeBrand3)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MotorhomeBrand4)
        @Html.LabelTitleizeFor(x => x.Show.MotorhomeBrand4)
        @Html.TextBoxFor(x => x.Show.MotorhomeBrand4)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FifthwheelerBrand1)
        @Html.LabelTitleizeFor(x => x.Show.FifthwheelerBrand1)
        @Html.TextBoxFor(x => x.Show.FifthwheelerBrand1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FifthwheelerBrand2)
        @Html.LabelTitleizeFor(x => x.Show.FifthwheelerBrand2)
        @Html.TextBoxFor(x => x.Show.FifthwheelerBrand2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FifthwheelerBrand3)
        @Html.LabelTitleizeFor(x => x.Show.FifthwheelerBrand3)
        @Html.TextBoxFor(x => x.Show.FifthwheelerBrand3)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FifthwheelerBrand4)
        @Html.LabelTitleizeFor(x => x.Show.FifthwheelerBrand4)
        @Html.TextBoxFor(x => x.Show.FifthwheelerBrand4)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AccessoriesParts)
        @Html.LabelTitleizeFor(x => x.Show.AccessoriesParts)
        @Html.TextBoxFor(x => x.Show.AccessoriesParts)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AdvisoryServices)
        @Html.LabelTitleizeFor(x => x.Show.AdvisoryServices)
        @Html.TextBoxFor(x => x.Show.AdvisoryServices)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AnnexesAwnings)
        @Html.LabelTitleizeFor(x => x.Show.AnnexesAwnings)
        @Html.TextBoxFor(x => x.Show.AnnexesAwnings)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ArtUnionsFundraising)
        @Html.LabelTitleizeFor(x => x.Show.ArtUnionsFundraising)
        @Html.TextBoxFor(x => x.Show.ArtUnionsFundraising)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CabinsHomes)
        @Html.LabelTitleizeFor(x => x.Show.CabinsHomes)
        @Html.TextBoxFor(x => x.Show.CabinsHomes)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CamperTrailers)
        @Html.LabelTitleizeFor(x => x.Show.CamperTrailers)
        @Html.TextBoxFor(x => x.Show.CamperTrailers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CampingEquipmentTents)
        @Html.LabelTitleizeFor(x => x.Show.CampingEquipmentTents)
        @Html.TextBoxFor(x => x.Show.CampingEquipmentTents)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CaravansPopTops)
        @Html.LabelTitleizeFor(x => x.Show.CaravansPopTops)
        @Html.TextBoxFor(x => x.Show.CaravansPopTops)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.CarportsCaravanCovers)
        @Html.LabelTitleizeFor(x => x.Show.CarportsCaravanCovers)
        @Html.TextBoxFor(x => x.Show.CarportsCaravanCovers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ClothingHats)
        @Html.LabelTitleizeFor(x => x.Show.ClothingHats)
        @Html.TextBoxFor(x => x.Show.ClothingHats)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Clubs)
        @Html.LabelTitleizeFor(x => x.Show.Clubs)
        @Html.TextBoxFor(x => x.Show.Clubs)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Communication)
        @Html.LabelTitleizeFor(x => x.Show.Communication)
        @Html.TextBoxFor(x => x.Show.Communication)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.FifthWheelers)
        @Html.LabelTitleizeFor(x => x.Show.FifthWheelers)
        @Html.TextBoxFor(x => x.Show.FifthWheelers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Hire)
        @Html.LabelTitleizeFor(x => x.Show.Hire)
        @Html.TextBoxFor(x => x.Show.Hire)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Insurance)
        @Html.LabelTitleizeFor(x => x.Show.Insurance)
        @Html.TextBoxFor(x => x.Show.Insurance)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MarineFishingBoatTrailers)
        @Html.LabelTitleizeFor(x => x.Show.MarineFishingBoatTrailers)
        @Html.TextBoxFor(x => x.Show.MarineFishingBoatTrailers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.MotorhomesCampervansConversions)
        @Html.LabelTitleizeFor(x => x.Show.MotorhomesCampervansConversions)
        @Html.TextBoxFor(x => x.Show.MotorhomesCampervansConversions)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Publications)
        @Html.LabelTitleizeFor(x => x.Show.Publications)
        @Html.TextBoxFor(x => x.Show.Publications)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.RoofTopCampers)
        @Html.LabelTitleizeFor(x => x.Show.RoofTopCampers)
        @Html.TextBoxFor(x => x.Show.RoofTopCampers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.SlideOnTrayTopCampers)
        @Html.LabelTitleizeFor(x => x.Show.SlideOnTrayTopCampers)
        @Html.TextBoxFor(x => x.Show.SlideOnTrayTopCampers)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.TouringTourismCaravanParks)
        @Html.LabelTitleizeFor(x => x.Show.TouringTourismCaravanParks)
        @Html.TextBoxFor(x => x.Show.TouringTourismCaravanParks)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.TowingEquipment)
        @Html.LabelTitleizeFor(x => x.Show.TowingEquipment)
        @Html.TextBoxFor(x => x.Show.TowingEquipment)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.VehiclesVehicleAccessories4WD)
        @Html.LabelTitleizeFor(x => x.Show.VehiclesVehicleAccessories4WD)
        @Html.TextBoxFor(x => x.Show.VehiclesVehicleAccessories4WD)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.OtherProductsServices)
        @Html.LabelTitleizeFor(x => x.Show.OtherProductsServices)
        @Html.TextBoxFor(x => x.Show.OtherProductsServices)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.AccessHeightRequired)
        @Html.LabelTitleizeFor(x => x.Show.AccessHeightRequired)
        @Html.TextBoxFor(x => x.Show.AccessHeightRequired)
    </div>
    
    if (Model.Show.ShowType == ShowType.Main)
    {
        <h5>Security Deposit Refund</h5>
        
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.BankName)
            @Html.LabelTitleizeFor(x => x.Show.BankName)
            @Html.TextBoxFor(x => x.Show.BankName)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.BranchName)
            @Html.LabelTitleizeFor(x => x.Show.BranchName)
            @Html.TextBoxFor(x => x.Show.BranchName)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.BSB)
            @Html.LabelTitleizeFor(x => x.Show.BSB)
            @Html.TextBoxFor(x => x.Show.BSB)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.AccountNo)
            @Html.LabelTitleizeFor(x => x.Show.AccountNo)
            @Html.TextBoxFor(x => x.Show.AccountNo)
        </div>
    
        <div class="ym-fbox">
            @Html.ValidationMessageFor(x => x.Show.AccountName)
            @Html.LabelTitleizeFor(x => x.Show.AccountName)
            @Html.TextBoxFor(x => x.Show.AccountName)
        </div>
    }
    
    <h5>Additional Notes / Requests</h5>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.NotesAndRequests)
        @Html.LabelTitleizeFor(x => x.Show.NotesAndRequests)
        @Html.TextBoxFor(x => x.Show.NotesAndRequests)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.DateSubmitted)
        @Html.LabelTitleizeFor(x => x.Show.DateSubmitted)
        @Html.TextBoxFor(x => x.Show.DateSubmitted)
    </div>
    
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
    </div>
}