﻿@model BTT.CaravanQLD.AppPortal.Models.EditShowModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Show List", "ShowList", new AjaxOptions() { UpdateTargetId = "shows", LoadingElementId = "waiting" }) 
    | @Ajax.ActionLink("Edit Web Prospect Fields", "EditWebProspectFields/" + Model.Show.Id.ToString(), new AjaxOptions() { UpdateTargetId = "shows", LoadingElementId = "waiting" }) 
</p>

@using (Ajax.BeginForm("EditShow", "DataPortal", new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "createDatePickerForShows();createCKEditorsForShow();showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-show" }))
{
    @Html.HiddenFor(x => x.Show.Id)

    <h2>Edit Show</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.Name)
        @Html.LabelTitleizeFor(x => x.Show.Name)
        @Html.TextBoxFor(x => x.Show.Name)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.ShowType)
        @Html.LabelTitleizeFor(x => x.Show.ShowType)
        @Html.DropDownListFor(x => x.Show.ShowType, Model.Show.ShowType.ToSelectList())
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.StartDate)
        @Html.LabelTitleizeFor(x => x.Show.StartDate)
        @Html.TextBoxFor(x => x.Show.StartDate, "{0:dd/MM/yyyy}", new { @class = "date-input" })
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.EndDate)
        @Html.LabelTitleizeFor(x => x.Show.EndDate)
        @Html.TextBoxFor(x => x.Show.EndDate, "{0:dd/MM/yyyy}", new { @class = "date-input" })
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Show.LinkIdentifier)
        @Html.LabelTitleizeFor(x => x.Show.LinkIdentifier)
        @Html.TextBoxFor(x => x.Show.LinkIdentifier)
    </div>
    
    <div class="ym-fbox">
        @Html.Label("Access Link")
        <a style="line-height: 1.5em; padding-top: .25em;" href="https://applications.queenslandcaravanshow.com.au/Account/Login/@Model.Show.LinkIdentifier">https://applications.queenslandcaravanshow.com.au/Account/Login/@Model.Show.LinkIdentifier</a>
    </div>
    
    @*<div class="ym-fbox ym-full-width-text">
        @Html.LabelTitleizeFor(x => x.Show.AdditionalNotesAndRequests, "ym-full-width-label")
        <p>This text will appear in the additional notes and requests section of the application form and confirmation page.</p>
    </div>

    <div class="ym-fbox ym-full-width-text">
        @Html.TextAreaFor(x => x.Show.AdditionalNotesAndRequests)
    </div>*@
    
    <div class="ym-fbox ym-full-width-text">
        @Html.LabelTitleizeFor(x => x.Show.ConfirmationEmail, "ym-full-width-label")
        <p>This text will appear at the top of the confirmation email that is sent to exhibitors once they have submitted their application form.</p>
    </div>

    <div class="ym-fbox ym-full-width-text">
        @Html.TextAreaFor(x => x.Show.ConfirmationEmail)
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Show", "DeleteShow/" + Model.Show.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "shows", Confirm = "Do you really want to delete this show? If you proceed, you will also delete EVERYTHING that is associated with the show including exhibitors and pages. ", OnSuccess = "showNotification('The show has been deleted.', 'success')", OnFailure = "showNotification('The show has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}