﻿@model BTT.CaravanQLD.AppPortal.Models.EmailListBySubjectModel

<p>There are currently @Model.Emails.Count emails.</p>

<div class="ym-grid month-row">
    <div class="ym-g80 ym-gl">Subject</div>
    <div class="ym-g20 ym-gr">Actions</div>
</div>

@for (int i = 0; i < Model.Emails.Count; i++)
{
    var className = i % 2 != 0 ? "alt-row" : "std-row";
    <div class="ym-grid @className">@Html.Partial("EmailListItem", Model.Emails[i])</div>
}