﻿@model BTT.CaravanQLD.AppPortal.Models.EmailSettingsModel
@using BTT.CaravanQLD.AppPortal.Helpers

@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Email Settings</h2>

@using (Html.BeginForm("EmailSettings", "DataPortal", FormMethod.Post, new { @class = "ym-form ym-columnar", id = "email-settings-form" }))
{
        @Html.HiddenFor(x => x.EmailSetting.LinkedShowId)
    
        <h5>Modify Email Settings</h5>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The following fields are used to create the footer that will be displayed at the bottom of every email sent.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.CompanyName)
                @Html.LabelTitleizeFor(x => x.EmailSetting.CompanyName)
                @Html.TextBoxFor(x => x.EmailSetting.CompanyName)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ContactEmail)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ContactEmail)
                @Html.TextBoxFor(x => x.EmailSetting.ContactEmail)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ContactNumber)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ContactNumber)
                @Html.TextBoxFor(x => x.EmailSetting.ContactNumber)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ContactFax)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ContactFax)
                @Html.TextBoxFor(x => x.EmailSetting.ContactFax)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ContactPostalAddress)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ContactPostalAddress)
                @Html.TextBoxFor(x => x.EmailSetting.ContactPostalAddress)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.Website)
                @Html.LabelTitleizeFor(x => x.EmailSetting.Website)
                @Html.TextBoxFor(x => x.EmailSetting.Website)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Email Logs Display Field is the field that helps you easily identify each exhibitor when adding exhibitors to emails and viewing email logs.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.EmailLogsDisplayField)
                @Html.LabelTitleizeFor(x => x.EmailSetting.EmailLogsDisplayField)
                @Html.DropDownListFor(x => x.EmailSetting.EmailLogsDisplayField, Model.EmailLogsDisplayFieldList)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Exhibitor Email & Login Field is the email address field that exhibitors will login to the portal and also the email address to which emails will be sent.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ExhibitorEmailAndLoginField)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ExhibitorEmailAndLoginField)
                @Html.DropDownListFor(x => x.EmailSetting.ExhibitorEmailAndLoginField, Model.ExhibitorEmailAndLoginFieldList)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Test Email Address is the email where test emails are sent. If your emails contain smart fields, you can enter a Show ID in the Test Exhibitor Show ID field.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.TestEmailAddress)
                @Html.LabelTitleizeFor(x => x.EmailSetting.TestEmailAddress)
                @Html.TextBoxFor(x => x.EmailSetting.TestEmailAddress)
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.TestExhibitorShowID)
                @Html.LabelTitleizeFor(x => x.EmailSetting.TestExhibitorShowID)
                @Html.TextBoxFor(x => x.EmailSetting.TestExhibitorShowID)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Email Banner will be displayed at the top of every email if it exists. The banner must be called 'email-banner.jpg' and can be any dimensions.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-button">
                @Html.Label("Email Banner")
                <button class="ym-button ym-inline" type="button" onclick="openCKFinder();">Upload Banner</button>
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Logs Per Page is how many email logs will be shown per page.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.LogsPerPage)
                @Html.LabelTitleizeFor(x => x.EmailSetting.LogsPerPage)
                @Html.TextBoxFor(x => x.EmailSetting.LogsPerPage)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Admin Email Address is the email that will be displayed as the sender of all emails from the entire portal, the email that updates to the exhibitor's details are sent, and the email that shows up on the Edit Profile page.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.AdminEmailAddress)
                @Html.LabelTitleizeFor(x => x.EmailSetting.AdminEmailAddress)
                @Html.TextBoxFor(x => x.EmailSetting.AdminEmailAddress)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Application Email Address is the email where new applications are sent to.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.ApplicationEmailAddress)
                @Html.LabelTitleizeFor(x => x.EmailSetting.ApplicationEmailAddress)
                @Html.TextBoxFor(x => x.EmailSetting.ApplicationEmailAddress)
            </div>
        </div>
    
        <hr />
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                <p class="dimmed">The Email Sender is the name that will be displayed as the sender of all emails from the entire portal.</p>
            </div>
        </div>
    
        <div class="ym-fbox">
            <div class="ym-fbox-text">
                @Html.ValidationMessageFor(x => x.EmailSetting.EmailSender)
                @Html.LabelTitleizeFor(x => x.EmailSetting.EmailSender)
                @Html.TextBoxFor(x => x.EmailSetting.EmailSender)
            </div>
        </div>

        <div class="ym-fbox-footer ym-fbox-button">
            <input type="submit" value="Save" />
        </div>
}
