﻿@model BTT.CaravanQLD.AppPortal.Models.EmailsModel
@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Emails</h2>

<div id="emails">
    @if (Model.ForwardToEmail)
    {
        @Html.Action("EditEmail", new { id = Model.EmailId })
    }
    else
    {
        @Html.Action("EmailList")
    }
</div>

