﻿@model BTT.CaravanQLD.AppPortal.Models.EmailListByDateCreated

<p>There are currently @Model.Emails.Count emails.</p>

@foreach (var month in Model.Last12Months)
{
    var thisMonthsEmails = Model.Emails.Where(x => x.DateCreated.Month == month.Month && x.DateCreated.Year == month.Year).ToList();
    
    if (thisMonthsEmails.Count > 0)
    {
        <div class="ym-grid month-row">@month.ToString("MMMM yyyy")</div>
    }
    
    for (int i = 0; i < thisMonthsEmails.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">@Html.Partial("EmailListItem", thisMonthsEmails[i])</div>
    }
}

<div class="ym-grid month-row">Older</div>
    
@{
    var olderEmails = Model.Emails.Where(x => x.DateCreated < Model.Last12Months.LastOrDefault()).ToList();
    for (int i = 0; i < olderEmails.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">@Html.Partial("EmailListItem", olderEmails[i])</div>
    }
}