﻿@model ExhibitorType

@using (Ajax.BeginForm("ExhibitorListForSearch", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitor-list", OnSuccess = "clearSearchBoxes()" }, new { id = "exhibitor-search-form", @class = "search-form" }))
{
@Html.Hidden("exhibitorType", Model);
<input type="submit" value="GO" style="display: none;" />
<div class="ym-p-75 ym-gl">Show ID <br />@Html.TextBox("showID")</div>
<div class="ym-p-300 ym-gl">Trading Name <br />@Html.TextBox("tradingName")</div>
<div class="ym-p-200 ym-gl">Address Line 1 <br />@Html.TextBox("addressLine1")</div>
<div class="ym-p-200 ym-gl">Address Line 2 <br />@Html.TextBox("addressLine2")</div>
<div class="ym-p-150 ym-gl">Suburb <br />@Html.TextBox("suburb")</div>
<div class="ym-p-50 ym-gl">State <br />@Html.TextBox("state")</div>
<div class="ym-p-100 ym-gl">Country <br />@Html.TextBox("country")</div>
<div class="ym-p-75 ym-gl">Postcode <br />@Html.TextBox("postcode")</div>
<div class="ym-p-150 ym-gl">Exhibitor Phone <br />@Html.TextBox("exhibitorPhone")</div>
<div class="ym-p-150 ym-gl">Exhibitor Fax <br />@Html.TextBox("exhibitorFax")</div>
<div class="ym-p-250 ym-gl">Exhibitor Email <br />@Html.TextBox("exhibitorEmail")</div>
<div class="ym-p-300 ym-gl">Website <br />@Html.TextBox("website")</div>
<div class="ym-p-200 ym-gl">Date Added <br />@Html.TextBox("dateAdded", "", new { @class = "date-input" })</div>
<div class="ym-p-150 ym-gl">Date Submitted <br />@Html.TextBox("dateSubmitted", "", new { @class = "date-input" })</div>
<div class="ym-p-200 ym-gl">Accepted Terms & Conditions <br />@Html.TextBox("acceptedTermsAndConditions")</div>

<div class="ym-p-100 ym-gl">Title <br />@Html.TextBox("title")</div>
<div class="ym-p-100 ym-gl">First Name <br />@Html.TextBox("firstName")</div>
<div class="ym-p-100 ym-gl">Surname <br />@Html.TextBox("surname")</div>
<div class="ym-p-150 ym-gl">Mobile <br />@Html.TextBox("mobile")</div>
<div class="ym-p-150 ym-gl">Phone <br />@Html.TextBox("phone")</div>
<div class="ym-p-250 ym-gl">Email <br />@Html.TextBox("email")</div>
<div class="ym-p-150 ym-gl">Is Show Contact <br />@Html.TextBox("isShowContact")</div>
<div class="ym-p-150 ym-gl">Show Contact Title <br />@Html.TextBox("showContactTitle")</div>
<div class="ym-p-200 ym-gl">Show Contact First Name <br />@Html.TextBox("showContactFirstName")</div>
<div class="ym-p-150 ym-gl">Show Contact Mobile <br />@Html.TextBox("showContactMobile")</div>
<div class="ym-p-100 ym-gl">CQ Member <br />@Html.TextBox("cQMember")</div>
<div class="ym-p-125 ym-gl">CQ Member Type <br />@Html.TextBox("cQMemberType")</div>
<div class="ym-p-150 ym-gl">CQ Membership ID <br />@Html.TextBox("cQMembershipID")</div>
<div class="ym-p-150 ym-gl">Interstate Member <br />@Html.TextBox("interstateMember")</div>
<div class="ym-p-200 ym-gl">Interstate Member Type <br />@Html.TextBox("interstateMemberType")</div>
<div class="ym-p-200 ym-gl">Interstate Association <br />@Html.TextBox("interstateAssociation")</div>
<div class="ym-p-100 ym-gl">Contributed <br />@Html.TextBox("contributed")</div>

<div class="ym-p-150 ym-gl">Marquee Required <br />@Html.TextBox("marqueeRequired")</div>
<div class="ym-p-125 ym-gl">Stand Choice 1 <br />@Html.TextBox("standChoice1")</div>
<div class="ym-p-125 ym-gl">Stand Choice 2 <br />@Html.TextBox("standChoice2")</div>
<div class="ym-p-125 ym-gl">Stand Choice 3 <br />@Html.TextBox("standChoice3")</div>
<div class="ym-p-100 ym-gl">Frontage <br />@Html.TextBox("frontage")</div>
<div class="ym-p-100 ym-gl">Depth <br />@Html.TextBox("depth")</div>
<div class="ym-p-150 ym-gl">Frontage Requested <br />@Html.TextBox("frontageRequested")</div>
<div class="ym-p-125 ym-gl">Depth Requested <br />@Html.TextBox("depthRequested")</div>
<div class="ym-p-100 ym-gl">Indoors <br />@Html.TextBox("indoors")</div>
<div class="ym-p-100 ym-gl">Outdoors <br />@Html.TextBox("outdoors")</div>
<div class="ym-p-200 ym-gl">Outdoors With Marquee <br />@Html.TextBox("outdoorsWithMarquee")</div>
<div class="ym-p-125 ym-gl">Shell Scheme <br />@Html.TextBox("shellScheme")</div>
<div class="ym-p-125 ym-gl">Amplification <br />@Html.TextBox("amplification")</div>
<div class="ym-p-125 ym-gl">Access Height <br />@Html.TextBox("accessHeight")</div>
<div class="ym-p-300 ym-gl">Notes & Requests <br />@Html.TextBox("notesAndRequests")</div>

<div class="ym-p-300 ym-gl">Products <br />@Html.TextBox("products")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 1 <br />@Html.TextBox("caravanBrand1")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 2 <br />@Html.TextBox("caravanBrand2")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 3 <br />@Html.TextBox("caravanBrand3")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 4 <br />@Html.TextBox("caravanBrand4")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 5 <br />@Html.TextBox("caravanBrand5")</div>
<div class="ym-p-200 ym-gl">Caravan Brand 6 <br />@Html.TextBox("caravanBrand6")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 1 <br />@Html.TextBox("camperTrailerBrand1")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 2 <br />@Html.TextBox("camperTrailerBrand2")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 3 <br />@Html.TextBox("camperTrailerBrand3")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 4 <br />@Html.TextBox("camperTrailerBrand4")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 5 <br />@Html.TextBox("camperTrailerBrand5")</div>
<div class="ym-p-200 ym-gl">Camper Trailer Brand 6 <br />@Html.TextBox("camperTrailerBrand6")</div>
<div class="ym-p-200 ym-gl">Motorhome Brand 1 <br />@Html.TextBox("motorhomeBrand1")</div>
<div class="ym-p-200 ym-gl">Motorhome Brand 2 <br />@Html.TextBox("motorhomeBrand2")</div>
<div class="ym-p-200 ym-gl">Motorhome Brand 3 <br />@Html.TextBox("motorhomeBrand3")</div>
<div class="ym-p-200 ym-gl">Motorhome Brand 4 <br />@Html.TextBox("motorhomeBrand4")</div>
<div class="ym-p-200 ym-gl">Fifthwheeler Brand 1 <br />@Html.TextBox("fifthwheelerBrand1")</div>
<div class="ym-p-200 ym-gl">Fifthwheeler Brand 2 <br />@Html.TextBox("fifthwheelerBrand2")</div>
<div class="ym-p-200 ym-gl">Fifthwheeler Brand 3 <br />@Html.TextBox("fifthwheelerBrand3")</div>
<div class="ym-p-200 ym-gl">Fifthwheeler Brand 4 <br />@Html.TextBox("fifthwheelerBrand4")</div>
<div class="ym-p-200 ym-gl">Accessories / Parts <br />@Html.TextBox("accessoriesParts")</div>
<div class="ym-p-200 ym-gl">Advisory Services <br />@Html.TextBox("advisoryServices")</div>
<div class="ym-p-200 ym-gl">Annexes / Awnings <br />@Html.TextBox("annexesAwnings")</div>
<div class="ym-p-200 ym-gl">Art Unions / Fundraising <br />@Html.TextBox("artUnionsFundraising")</div>
<div class="ym-p-200 ym-gl">Cabins / Homes <br />@Html.TextBox("cabinsHomes")</div>
<div class="ym-p-200 ym-gl">Camper Trailers <br />@Html.TextBox("camperTrailers")</div>
<div class="ym-p-200 ym-gl">Camping Equipment / Tents <br />@Html.TextBox("campingEquipmentTents")</div>
<div class="ym-p-200 ym-gl">Caravans / Pop Tops <br />@Html.TextBox("caravansPopTops")</div>
<div class="ym-p-200 ym-gl">Carports / Caravan Covers <br />@Html.TextBox("carportsCaravanCovers")</div>
<div class="ym-p-200 ym-gl">Clothing / Hats <br />@Html.TextBox("clothingHats")</div>
<div class="ym-p-200 ym-gl">Clubs <br />@Html.TextBox("clubs")</div>
<div class="ym-p-200 ym-gl">Communication <br />@Html.TextBox("communication")</div>
<div class="ym-p-200 ym-gl">Fifth Wheelers <br />@Html.TextBox("fifthWheelers")</div>
<div class="ym-p-200 ym-gl">Hire <br />@Html.TextBox("hire")</div>
<div class="ym-p-200 ym-gl">Insurance <br />@Html.TextBox("insurance")</div>
<div class="ym-p-250 ym-gl">Marine / Fishing / Boat Trailers <br />@Html.TextBox("marineFishingBoatTrailers")</div>
<div class="ym-p-300 ym-gl">Motorhomes / Campervans / Conversions <br />@Html.TextBox("motorhomesCampervansConversions")</div>
<div class="ym-p-200 ym-gl">Publications <br />@Html.TextBox("publications")</div>
<div class="ym-p-200 ym-gl">Roof Top Campers <br />@Html.TextBox("roofTopCampers")</div>
<div class="ym-p-200 ym-gl">Slide On / Traytop Campers <br />@Html.TextBox("slideOnTraytopCampers")</div>
<div class="ym-p-250 ym-gl">Touring / Tourism / Caravan Parks <br />@Html.TextBox("touringTourismCaravanParks")</div>
<div class="ym-p-200 ym-gl">Towing Equipment <br />@Html.TextBox("towingEquipment")</div>
<div class="ym-p-250 ym-gl">Vehicles / Vehicle Acc./ 4WD Acc. <br />@Html.TextBox("vehiclesVehicleAccessories4WDAccessories")</div>
<div class="ym-p-200 ym-gl">Other Products / Services <br />@Html.TextBox("otherProductsServices")</div>
}

