﻿@model BTT.CaravanQLD.AppPortal.Models.ExhibitorListModel

<div id="exhibitor-list" style="width: @Model.GridWidth.ToString()px">
    <p>
        @if (Model.IsSearching)
        {
            @Ajax.ActionLink("Back to Exhibitor List", "Exhibitors", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting"})
        }
        @Ajax.ActionLink("Open Applications", "ChangeExhibitorList", new { ExhibitorType = ExhibitorType.NewExhibitors }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting"})
        | @Ajax.ActionLink("Submitted Applications", "ChangeExhibitorList", new { ExhibitorType = ExhibitorType.SubmittedExhibitors }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting"})
        | @Ajax.ActionLink("Add New Exhibitor", "AddNewExhibitor", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting"})
    </p>

    @*@if (Model.PortalSetting.ExhibitorType == ExhibitorType.NewExhibitors)
    {
        @Html.Action("ExhibitorListForNew")
    }
    else if (Model.PortalSetting.ExhibitorType == ExhibitorType.SubmittedExhibitors)
    {
        @Html.Action("ExhibitorListForSubmitted")
    }*@

    @if (Model.Exhibitors != null && Model.PortalSetting.ExhibitorType == ExhibitorType.NewExhibitors)
    {
        <p>There are currently @Model.Exhibitors.Count open applications.</p>
    }
    else
    {
        <p>There are currently @Model.Exhibitors.Count submitted applications.</p>
    }

    <p style="font-size: 80%">Click on a column heading to order the results.</p>

    <div id="view-exhibitor-data">
        @using (Ajax.BeginForm("ExhibitorListForSearch", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "exhibitors", OnSuccess = "updateFormDivWidth()", LoadingElementId = "waiting" }, new { id = "exhibitor-data-form", @class = "search-form" }))
        {
            <input type="submit" value="GO" style="display: none;" />

            //CREATE HEADER ROW
            <div class="ym-grid top-row" style="width: @Model.GridWidth.ToString()px">
                @{
                    for (int i = 0; i < Model.FormSections.Count; i++)
                    {
                        //Add a row for the Show ID
                        var formSectionWidth = i == 0 ? 75 : 0;
                        //Add a row for date completed if showing submitted exhibitors
                        formSectionWidth = i == 0 && Model.PortalSetting.ExhibitorType == ExhibitorType.SubmittedExhibitors ? formSectionWidth + 150 : formSectionWidth;

                        foreach (var formField in Model.FormSections[i].FormFields)
                        {
                            if (formField.DataType == FormDataType.TextBox)
                            {
                                formSectionWidth = formSectionWidth + 250;
                            }
                            else if (formField.DataType == FormDataType.DropDown || formField.DataType == FormDataType.RadioButton || formField.DataType == FormDataType.Checkbox)
                            {
                                formSectionWidth = formSectionWidth + 200;
                            }
                            else if (formField.DataType == FormDataType.TextArea)
                            {
                                formSectionWidth = formSectionWidth + 400;
                            }
                            else if (formField.DataType == FormDataType.CheckboxArray)
                            {
                                formSectionWidth = formSectionWidth + 300;
                            }
                        }

                        <div class="ym-gl" style="width: @formSectionWidth.ToString()px">
                            <div class="form-section-header ym-grid">@Model.FormSections[i].Name</div>
                            <div class="form-fields-section ym-grid">
                                @if (i == 0)
                                {
                                    <div class="ym-p-75 ym-gl">
                                        @Ajax.ActionLink("Show ID", "SortExhibitorListBy/" + Guid.Empty.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                                        <br />@Html.TextBox("showId")
                                    </div>
                                    
                                    if (Model.PortalSetting.ExhibitorType == ExhibitorType.SubmittedExhibitors)
                                    {
                                        <div class="ym-p-150 ym-gl">
                                            Date Submitted
                                            <br />@Html.TextBox("dateSubmitted", "", new { @class = "date-input" })
                                        </div>
                                    }
                                }
                                
                                @foreach (var formField in Model.FormSections[i].FormFields.Where(x => x.DataType != FormDataType.ContentSection).OrderBy(x => x.Order))
                                {
                                    if (formField.DataType == FormDataType.TextBox)
                                    {
                                        <div class="ym-p-250 ym-gl">
                                            @Ajax.ActionLink(formField.Name, "SortExhibitorListBy/" + formField.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                                            <br />@Html.TextBox(formField.Id.ToString())
                                        </div>
                                    }
                                    else if (formField.DataType == FormDataType.DropDown || formField.DataType == FormDataType.RadioButton || formField.DataType == FormDataType.Checkbox)
                                    {
                                        <div class="ym-p-200 ym-gl">
                                            @Ajax.ActionLink(formField.Name, "SortExhibitorListBy/" + formField.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                                            <br />@Html.TextBox(formField.Id.ToString())
                                        </div>
                                    }
                                    else if (formField.DataType == FormDataType.TextArea)
                                    {
                                        <div class="ym-p-400 ym-gl">
                                            @Ajax.ActionLink(formField.Name, "SortExhibitorListBy/" + formField.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                                            <br />@Html.TextBox(formField.Id.ToString())
                                        </div>
                                    }
                                    else if (formField.DataType == FormDataType.CheckboxArray)
                                    {
                                        <div class="ym-p-300 ym-gl">
                                            @Ajax.ActionLink(formField.Name, "SortExhibitorListBy/" + formField.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                                            <br />@Html.TextBox(formField.Id.ToString())
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            
            //CREATE FORM DETAIL ROWS
            for (int i = 0; i < Model.Exhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                var formFieldValues = Model.FormFieldValues.Where(x => x.ExhibitorApplicationId == Model.Exhibitors[i].Id).ToList();
                
                <div class="ym-grid @className">
                    <div class="ym-p-75 ym-gl">
                        @Ajax.ActionLink(Model.Exhibitors[i].ShowId, "EditExhibitor", new { id = Model.Exhibitors[i].Id }, new AjaxOptions() { UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
                    </div>
                
                    @if (Model.PortalSetting.ExhibitorType == ExhibitorType.SubmittedExhibitors)
                    {
                        <div class="ym-p-150 ym-gl">
                            @Convert.ToDateTime(Model.Exhibitors[i].DateSubmitted).ToString("dd/MM/yyyy")
                        </div>
                    }
                
                    @foreach (var formSection in Model.FormSections)
                    {
                        var formFields = formSection.FormFields.Where(x => x.DataType != FormDataType.ContentSection).OrderBy(x => x.Order).ToList();
                        foreach (var formField in formFields)
                        {
                            var formFieldValue = formFieldValues.FirstOrDefault(x => x.FormFieldId == formField.Id);
                            var displayText = formFieldValue != null ? formFieldValue.Value : " ";
                        
                            if (formField.DataType == FormDataType.TextBox)
                            {
                                <div class="ym-p-250 ym-gl">
                                    @displayText
                                </div>
                            }
                            else if (formField.DataType == FormDataType.DropDown || formField.DataType == FormDataType.RadioButton || formField.DataType == FormDataType.Checkbox)
                            {
                                <div class="ym-p-200 ym-gl">
                                    @displayText
                                </div>
                            }
                            else if (formField.DataType == FormDataType.TextArea)
                            {
                                <div class="ym-p-400 ym-gl">
                                    @displayText
                                </div>
                            }
                            else if (formField.DataType == FormDataType.CheckboxArray)
                            {
                                <div class="ym-p-300 ym-gl">
                                    @displayText
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    </div>
</div>