﻿@model BTT.CaravanQLD.AppPortal.Models.ExhibitorListForNewModel

<p>There are currently @Model.Exhibitors.Count open applications.</p>

@*<div class="ym-grid top-row">@Html.Partial("ExhibitorListTopRow", ExhibitorType.NewExhibitors)</div>

@for (int i = 0; i < Model.Exhibitors.Count; i++)
{
    var className = i % 2 != 0 ? "alt-row" : "std-row";
    <div class="ym-grid @className">@Html.Partial("ExhibitorListItem", Model.Exhibitors[i])</div>
}*@