﻿@model BTT.CaravanQLD.Model.ExhibitorApplication

<div class="ym-p-75 ym-gl">@Ajax.ActionLink(Model.ShowId, "EditExhibitor", new { id = Model.Id }, new AjaxOptions() { UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })</div>
<div class="ym-p-300 ym-gl">@Ajax.ActionLink((!String.IsNullOrEmpty(Model.TradingName) ? Model.TradingName : " "), "EditExhibitor", new { id = Model.Id }, new AjaxOptions() { UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })</div>
<div class="ym-p-200 ym-gl">@Model.AddressLine1</div>
<div class="ym-p-200 ym-gl">@Model.AddressLine2 </div>
<div class="ym-p-150 ym-gl">@Model.Suburb</div>
<div class="ym-p-50 ym-gl">@Model.State</div>
<div class="ym-p-100 ym-gl">@Model.Country</div>
<div class="ym-p-75 ym-gl">@Model.Postcode</div>
<div class="ym-p-150 ym-gl">@Model.ExhibitorPhone</div>
<div class="ym-p-150 ym-gl">@Model.ExhibitorFax</div>
<div class="ym-p-250 ym-gl">@Model.ExhibitorEmail</div>
<div class="ym-p-300 ym-gl">@Model.Website</div>
<div class="ym-p-200 ym-gl">@Model.DateAdded.ToString()</div>
<div class="ym-p-150 ym-gl">@Model.DateSubmitted</div>
<div class="ym-p-200 ym-gl">@Model.AcceptedTermsAndConditions</div>

<div class="ym-p-100 ym-gl">@Model.Title</div>
<div class="ym-p-100 ym-gl">@Model.FirstName</div>
<div class="ym-p-100 ym-gl">@Model.Surname</div>
<div class="ym-p-150 ym-gl">@Model.Mobile</div>
<div class="ym-p-150 ym-gl">@Model.Phone</div>
<div class="ym-p-250 ym-gl">@Model.Email</div>
<div class="ym-p-150 ym-gl">@Model.IsShowContact</div>
<div class="ym-p-150 ym-gl">@Model.ShowContactTitle</div>
<div class="ym-p-200 ym-gl">@Model.ShowContactFirstName</div>
<div class="ym-p-150 ym-gl">@Model.ShowContactMobile</div>
<div class="ym-p-100 ym-gl">@Model.CQMember</div>
<div class="ym-p-125 ym-gl">@Model.CQMemberType</div>
<div class="ym-p-150 ym-gl">@Model.CQMembershipID</div>
<div class="ym-p-150 ym-gl">@Model.InterstateMember</div>
<div class="ym-p-200 ym-gl">@Model.InterstateMemberType</div>
<div class="ym-p-200 ym-gl">@Model.InterstateAssociation</div>
<div class="ym-p-100 ym-gl">@Model.Contributed</div>

<div class="ym-p-150 ym-gl">@Model.SiteInfo.MarqueeRequired</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.StandChoice1</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.StandChoice2</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.StandChoice3</div>
<div class="ym-p-100 ym-gl">@Model.SiteInfo.Frontage</div>
<div class="ym-p-100 ym-gl">@Model.SiteInfo.Depth</div>
<div class="ym-p-150 ym-gl">@Model.SiteInfo.FrontageRequested</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.DepthRequested</div>
<div class="ym-p-100 ym-gl">@Model.SiteInfo.Indoors</div>
<div class="ym-p-100 ym-gl">@Model.SiteInfo.Outdoors</div>
<div class="ym-p-200 ym-gl">@Model.SiteInfo.OutdoorsWithMarquee</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.ShellScheme</div>
<div class="ym-p-125 ym-gl">@Model.SiteInfo.Amplification</div>
<div class="ym-p-125 ym-gl">@Model.ProductInfo.AccessHeight</div>
<div class="ym-p-300 ym-gl">@(Model.NotesAndRequests.Length > 47 ? Model.NotesAndRequests.Substring(0, 47) + "..." : Model.NotesAndRequests)</div>

<div class="ym-p-300 ym-gl">@(Model.ProductInfo.Products.Length > 47 ? Model.ProductInfo.Products.Substring(0, 47) + "..." : Model.ProductInfo.Products)</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand1</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand2</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand3</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand4</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand5</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravanBrand6</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand1</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand2</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand3</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand4</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand5</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailerBrand6</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.MotorhomeBrand1</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.MotorhomeBrand2</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.MotorhomeBrand3</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.MotorhomeBrand4</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.FifthwheelerBrand1</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.FifthwheelerBrand2</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.FifthwheelerBrand3</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.FifthwheelerBrand4</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.AccessoriesParts</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.AdvisoryServices</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.AnnexesAwnings</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.ArtUnionsFundraising</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CabinsHomes</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CamperTrailers</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CampingEquipmentTents</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CaravansPopTops</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.CarportsCaravanCovers</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.ClothingHats</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.Clubs</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.Communication</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.FifthWheelers</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.Hire</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.Insurance</div>
<div class="ym-p-250 ym-gl">@Model.ProductInfo.MarineFishingBoatTrailers</div>
<div class="ym-p-300 ym-gl">@Model.ProductInfo.MotorhomesCampervansConversions</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.Publications</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.RoofTopCampers</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.SlideOnTraytopCampers</div>
<div class="ym-p-250 ym-gl">@Model.ProductInfo.TouringTourismCaravanParks</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.TowingEquipment</div>
<div class="ym-p-250 ym-gl">@Model.ProductInfo.VehiclesVehicleAccessories4WDAccessories</div>
<div class="ym-p-200 ym-gl">@Model.ProductInfo.OtherProductsServices</div>
