﻿@model BTT.CaravanQLD.AppPortal.Models.FormListModel

<p>
    @Ajax.ActionLink("New Section", "CreateForm", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", OnSuccess = "setupFormForm()", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Preview Application Form", "ViewApplicationForm", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Preview Confirmation Form", "ViewConfirmationForm", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" })
</p>

<div id="form-list">
    @for (int i = 0; i < Model.Forms.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">
            @Ajax.ActionLink(" ", "MoveFormUp/" + Model.Forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
            @Ajax.ActionLink(" ", "MoveFormDown/" + Model.Forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
            |@Ajax.ActionLink(Model.Forms[i].Name, "EditForm/" + Model.Forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting", OnSuccess = "setupFormForm()" }, new { @class = "name-link" })
        </div>
    }
</div>