﻿@model BTT.CaravanQLD.AppPortal.Models.FormFieldListModel
@using BTT.CaravanQLD.AppPortal.Helpers

@using (Html.BeginForm(" ", " ", FormMethod.Post, new { @class = "ym-form ym-columnar dynamic-form" }))
{
    @*<h2>@Model.Form.Name</h2>*@

    for (int i = 0; i < Model.FormFields.Count; i++)
    {
        var requiredClass = Model.FormFields[i].Mandatory ? "required" : "";
        if (Model.FormFields[i].DataType == FormDataType.TextBox)
        {
            if (Model.FormFields[i].SpanTwoColumns)
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                    <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                        @Html.TextBox(Guid.NewGuid().ToString())
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    @Html.TextBox(Guid.NewGuid().ToString())
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.TextArea)
        {
            if (Model.FormFields[i].SpanTwoColumns)
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                    <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                        @Html.TextArea(Guid.NewGuid().ToString(), new { rows = 5 })
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    @Html.TextArea(Guid.NewGuid().ToString(), new { rows = 5 })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.ContentSection)
        {
            <div class="ym-fbox">
                @Ajax.ActionLink(" ", "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "edit-content" })
                <div class="arrow-container">
                    @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                    @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                </div>
                @Html.Raw(Model.FormFields[i].TextContent)
            </div>
        }
        else if (Model.FormFields[i].DataType == FormDataType.DropDown)
        {
            var dropDownItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
            {
                Text = x.Text,
                Value = x.Value
            }).ToList();

            dropDownItems.Insert(0, new SelectListItem()
            {
                Text = "",
                Value = ""
            });

            if (Model.FormFields[i].SpanTwoColumns)
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                    <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                        @Html.DropDownList(Guid.NewGuid().ToString(), dropDownItems)
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    @Html.DropDownList(Guid.NewGuid().ToString(), dropDownItems)
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.Checkbox)
        {
            if (Model.FormFields[i].SpanTwoColumns)
            {
                var isMandatory = Model.FormFields[i].Mandatory ? "*" : "";
                <div class="ym-fbox ym-full-width-check">
                    @Ajax.ActionLink(" ", "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "edit-content" })
                    <p>
                        <b>@Html.Raw(Model.FormFields[i].Label)@isMandatory</b>
                        @Html.CheckBox(Guid.NewGuid().ToString(), new { @class = "ym-inline", style = "margin-left: 5px;" })
                    </p>
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox checkbox-div">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    @Html.CheckBox(Guid.NewGuid().ToString())
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.CheckboxArray)
        {
            <div class="ym-fbox">
                @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                <div class="arrow-container">
                    @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                    @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                </div>
            </div>

            var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
            var isEvenNum = formFieldItems.Count % 2 == 0;
            var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

            for (int f = 0; f < halfFormFieldItemCount; f++)
            {
                var firstItem = f;
                var secondItem = f + halfFormFieldItemCount;
                if (secondItem != formFieldItems.Count)
                {
                    <div class="ym-fbox">
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                            <div class="ym-g50 ym-gl">
                                <div class="ym-gbox-left ym-fbox-check">
                                    @Html.Label(formFieldItems[firstItem].Text)
                                    @Html.CheckBox(Guid.NewGuid().ToString())
                                </div>
                            </div>

                            <div class="ym-g50 ym-gr">
                                <div class="ym-gbox-right ym-fbox-check">
                                    @Html.Label(formFieldItems[secondItem].Text)
                                    @Html.CheckBox(Guid.NewGuid().ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="ym-fbox">
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                            <div class="ym-g50 ym-gl">
                                <div class="ym-gbox-left ym-fbox-check">
                                    @Html.Label(formFieldItems[firstItem].Text)
                                    @Html.CheckBox(Guid.NewGuid().ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.RadioButton)
        {
            if (Model.FormFields[i].SpanTwoColumns)
            {
                <div class="ym-fbox">
                    <div class="ym-full-width-grid">
                        @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                    </div>
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>

                    @{
                var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
                var radioName = Guid.NewGuid().ToString();
                    }
                    <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                        @foreach (var f in formFieldItems)
                        {
                            <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                @Html.RadioButton(radioName, f.Value)
                                @Html.Label(f.Text)
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>

                    @{
                var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
                var radioName = Guid.NewGuid().ToString();
                    }
                    <div class="ym-fbox-wrap">
                        @foreach (var f in formFieldItems)
                        {
                            <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                @Html.RadioButton(radioName, f.Value)
                                @Html.Label(f.Text)
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else if (Model.FormFields[i].DataType == FormDataType.TextField)
        {
            if (Model.FormFields[i].SpanTwoColumns)
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label ym-full-width-label " + requiredClass })
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                    <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                        <div class="form-field-text-field">@Html.Raw(Model.FormFields[i].TextField)</div>
                    </div>
                </div>
            }
            else
            {
                <div class="ym-fbox">
                    @Ajax.ActionLink(Model.FormFields[i].Label, "EditFormField/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "edit-form-field", OnSuccess = "hookUpDataTypeDropDown()", LoadingElementId = "waiting" }, new { @class = "ym-label " + requiredClass })
                    <div class="form-field-text-field">@Html.Raw(Model.FormFields[i].TextField)</div>
                    <div class="arrow-container">
                        @Ajax.ActionLink(" ", "MoveFormFieldUp/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                        @Ajax.ActionLink(" ", "MoveFormFieldDown/" + Model.FormFields[i].Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", OnSuccess = "reloadEditFormField()", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                    </div>
                </div>
            }
        }
    }
}