﻿@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Forms</h2>

<div id="forms">
    @Html.Action("FormList")
</div>
