﻿@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Imports</h2>

<p>
    @Ajax.ActionLink("Import New Exhibitors", "ImportNewExhibitors", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "imports", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Export All Exhibitors", "ExportAllData", new AjaxOptions() { OnSuccess = "showNotification('Your file has been created. You can download your file by browsing with the File Uploader to the files folder.', 'success', 3000)", LoadingElementId = "waiting" })
</p>

<div id="imports">
    <p>Please click on one of the links above to open an import. </p>
</div>