﻿@model BTT.CaravanQLD.AppPortal.Models.ImportNewExhibitorsModel

@using (Html.BeginForm("ImportNewExhibitors", "DataPortal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ym-form ym-columnar" }))
{
    <h5>Import New Exhibitors</h5>

    <div class="ym-fbox">
        <div class="ym-fbox-text">
            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="importFileInput"></span>
            <label for="importFileInput">File</label>
            <input id="importFileInput" type="file" name="importFileInput" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
        </div>
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Import" />
    </div>
}

<p>
    This import expects you to have column titles in the first row of the CSV file. These are not word or case sensitive fields, but they do need to have something in them.
</p>

<div class="ym-grid">
    <div id="import-fields" class="ym-g50 ym-gl">
        <div class="ym-grid">
            <h4>Import Fields</h4>
            <p>
                This import will add new exhibitors to the portal. Use the list below to pick the fields for your import.
            </p>
        </div>

        <div id="form-field-import-list">
            @foreach (var formSection in Model.FormSections.OrderBy(x => x.Order))
            {
                <h5>@formSection.Name</h5>

                var formFields = formSection.FormFields.Where(x => x.DataType != FormDataType.ContentSection && x.DataType != FormDataType.TextField).OrderBy(x => x.Order).ToList();
                for (int i = 0; i < formFields.Count; i++)
                {
                    var className = i % 2 != 0 ? "alt-row" : "std-row";
                    var isIncluded = formFields[i].IncludeInImport ? "include-in-import" : "not-included-in-import";

                    <div class="ym-grid @className @isIncluded">
                        <div class="ym-p-300 ym-gl">
                            @Ajax.ActionLink(formFields[i].Name, "AddToFormFieldImport", new { FormFieldId = formFields[i].Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "imports" }, new { @class = "form-field-import-link" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div id="csv-file-order" class="ym-g50 ym-gr">
        <div class="ym-grid">
            <h4>CSV File Order</h4>
            <p>
                The following list is the order for your CSV file.
            </p>

            <div class="ym-grid">
                <ol>
                    <li>Show ID (A string)</li>
                    @foreach (var formField in Model.FormFieldsForImport)
                    {
                        var dataTypeString = "";
                        switch (formField.DataType)
                        {
                            case FormDataType.TextBox:
                                dataTypeString = "(A string)";
                                break;
                            case FormDataType.TextArea:
                                dataTypeString = "(A string)";
                                break;
                            case FormDataType.DropDown:
                                dataTypeString = "(A string with the exact case of item value)";
                                break;
                            case FormDataType.Checkbox:
                                dataTypeString = "(True or False)";
                                break;
                            case FormDataType.CheckboxArray:
                                dataTypeString = "(A string following: 'checkBoxValue1'|'checkBoxValue2')";
                                break;
                            case FormDataType.RadioButton:
                                dataTypeString = "(A string with the exact case of item value)";
                                break;
                            default:
                                break;
                        }
                        <li>@formField.Name @dataTypeString</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>



