﻿@model BTT.CaravanQLD.AppPortal.Models.LogListForExhibitorModel

<p>
    @Ajax.ActionLink("Back to Exhibitor", "EditExhibitor/" + Model.ExhibitorId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Clear Logs", "ClearExhibitorLogs/" + Model.ExhibitorId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "Do you really want to clear the logs for this exhibitor?", LoadingElementId = "waiting" })
</p>

<div id="log-list">
    @if (Model.TotalRecords > 10)
    {
        int pageCount = (Model.TotalRecords + Model.LogsPerPage - 1) / Model.LogsPerPage;
        <div id="log-list-pages">
            Page: 
            @for (int i = 1; i <= pageCount; i++)
			{
                var className = i == Model.CurrentPage ? "current-page" : "";
			    @Ajax.ActionLink(i.ToString(), "LogListForExhibitor", new { id = Model.ExhibitorId, page = i }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors" }, new { @class = className })
			}
        </div>
    }



    <div class="ym-grid log-list-top-row">
        <div class="ym-p-200 ym-gl">Date Sent</div>
        <div class="ym-p-400 ym-gl">Subject</div>
        <div class="ym-p-250 ym-gl">@Model.DisplayFormFieldValues.FirstOrDefault().FormField.Label</div>
        <div class="ym-p-250 ym-gl">@Model.EmailFormFieldValues.FirstOrDefault().FormField.Label</div>
        <div class="ym-p-150 ym-gl centered">Re-Send Email</div>
        @using (Ajax.BeginForm("LogListForSearch", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }, new { id = "log-search-form", @class = "search-form" }))
        {
            @Html.Hidden("searchType", "exhibitor");
            @Html.Hidden("searchId", Model.ExhibitorId);
            <div class="ym-p-200 ym-gl">
                @Html.TextBox("date", "", new { @class = "date-input" })
            </div>
            <div class="ym-p-400 ym-gl">
                @Html.TextBox("subject")
            </div>
            <div class="ym-p-250 ym-gl">
                @Html.TextBox("tradingName")
            </div>
            <div class="ym-p-250 ym-gl">
                @Html.TextBox("contactEmail")
                <input type="submit" value="go" style="display: none;" />
            </div>
        }
    </div>

    @if (Model.EmailLogs.Count < 1)
    {
        <p>There are no logs for this exhibitor.</p>
    }

    @for (int i = 0; i < Model.EmailLogs.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        var displayField = Model.DisplayFormFieldValues.FirstOrDefault(x => x.ExhibitorApplicationId == Model.EmailLogs[i].ExhibitorApplicationId).Value;
        var emailField = Model.EmailFormFieldValues.FirstOrDefault(x => x.ExhibitorApplicationId == Model.EmailLogs[i].ExhibitorApplicationId).Value;
        
        <div class="ym-grid @className">
            <div class="ym-p-200 ym-gl">@Model.EmailLogs[i].DateSent.ToString()</div>
            <div class="ym-p-400 ym-gl">@Html.ActionLink(Model.EmailLogs[i].Email.Subject, "Emails", new { ForwardToEmail = true, EmailId = Model.EmailLogs[i].EmailId })</div>
            <div class="ym-p-250 ym-gl">@Html.ActionLink(!String.IsNullOrEmpty(displayField) ? displayField : Model.EmailLogs[i].ExhibitorApplication.ShowId, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.EmailLogs[i].ExhibitorApplicationId })</div>
            <div class="ym-p-250 ym-gl">@Html.ActionLink(!String.IsNullOrEmpty(emailField) ? emailField : "No Contact Email", "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.EmailLogs[i].ExhibitorApplicationId })</div>
            <div class="ym-p-150 ym-gl centered">@Ajax.ActionLink(" ", "SendOneEmail", new { EmailId = Model.EmailLogs[i].EmailId, ExhibitorId = Model.EmailLogs[i].ExhibitorApplicationId }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The email has been sent.', 'success');", OnFailure = "showNotification('The email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })</div>
        </div>
    }
</div>