﻿@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Pages</h2>
<div id="pages">
    @Html.Action("PageList")
</div>
