﻿@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Portal Settings</h2>

<div id="portal-settings">
    @Html.Action("DeleteAllData")
</div>