﻿@{
    ViewBag.Title = "Shows";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@Html.Action("CurrentShow", "DataPortal")

<h2>Shows</h2>
<div id="shows">
    @Html.Action("ShowList")
</div>