﻿@model BTT.CaravanQLD.AppPortal.Models.ViewConfirmationFormModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Section List", "FormList", new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
</p>

<div id="confirmation-form-container">
    @Html.Raw(Model.PageContent)

    @using (Ajax.BeginForm("ApplicationForm", "Apply_Now", new AjaxOptions() { UpdateTargetId = "application-form-container" }, new { @class = "ym-form ym-columnar dynamic-form" }))
    {
        @*@Html.HiddenFor(x => x.ExApp.Id)
            @Html.HiddenFor(x => x.ExApp.DateAdded)*@

        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();

            for (int i = 0; i < formFields.Count; i++)
            {
                var requiredClass = formFields[i].Mandatory ? "required" : "";
                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                Sample
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">Sample</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                Sample
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">Sample</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                Sample
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">Sample</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                Yes/No
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">Yes/No</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            <span class="display-text">Yes/No</span>
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            <span class="display-text">Yes/No</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            <span class="display-text">Yes/No</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                Sample
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">Sample</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                <div class="form-field-text-field">%Sample%</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <div class="form-field-text-field">%Sample%</div>
                        </div>
                    }
                }
            }
        }
        
        <div class="ym-fbox">
            <label class="ym-full-width-label required">Please confirm you have read and understood the terms and conditions.</label>
            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text"> Yes/No </div>
        </div>

        <div class="ym-fbox-footer ym-fbox-button">
            <input id="submit" class="float-right" type="submit" value="Make Changes">
            <input id="submit" class="float-right" type="submit" value="Submit">
        </div>
    }
</div>