﻿@model BTT.CaravanQLD.AppPortal.Models.ViewApplicationFormModel
@using BTT.CaravanQLD.AppPortal.Helpers
       
<p>
    @Ajax.ActionLink("Back to Section List", "FormList", new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
</p>
    
<div id="application-form-container">
    @Html.Raw(Model.PageContent)

    @using (Ajax.BeginForm("ApplicationForm", "Apply_Now", new AjaxOptions() { UpdateTargetId = "application-form-container" }, new { @class = "ym-form ym-columnar dynamic-form" }))
    {
        @*@Html.HiddenFor(x => x.ExApp.Id)
        @Html.HiddenFor(x => x.ExApp.DateAdded)*@
        
        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();
            
            for (int i = 0; i < formFields.Count; i++)
            {
                var requiredClass = formFields[i].Mandatory ? "required" : "";
                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextBox(Guid.NewGuid().ToString())
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextBox(Guid.NewGuid().ToString())
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.TextArea(Guid.NewGuid().ToString(), new { rows = 5 })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.TextArea(Guid.NewGuid().ToString(), new { rows = 5 })
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    var dropDownItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
                    {
                        Text = x.Text,
                        Value = x.Value
                    }).ToList();

                    dropDownItems.Insert(0, new SelectListItem()
                    {
                        Text = "",
                        Value = ""
                    });

                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.DropDownList(Guid.NewGuid().ToString(), dropDownItems)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.DropDownList(Guid.NewGuid().ToString(), dropDownItems)
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        var isMandatory = formFields[i].Mandatory ? "*" : "";
                        <div class="ym-fbox ym-full-width-check">
                            <p>
                                <b>@Html.Raw(formFields[i].Label)@isMandatory</b>
                                @Html.CheckBox(Guid.NewGuid().ToString(), new { @class = "ym-inline", style = "margin-left: 5px;" })
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox checkbox-div">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            @Html.CheckBox(Guid.NewGuid().ToString())
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @Html.CheckBox(Guid.NewGuid().ToString())
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            @Html.CheckBox(Guid.NewGuid().ToString())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @Html.CheckBox(Guid.NewGuid().ToString())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <div class="ym-full-width-grid">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            </div>

                            @{
                        var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                        var radioName = Guid.NewGuid().ToString();
                            }
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(radioName, f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>

                            @{
                                var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                                var radioName = Guid.NewGuid().ToString();
                            }
                            <div class="ym-fbox-wrap">
                                @foreach (var f in formFieldItems)
                                {
                                    <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                        @Html.RadioButton(radioName, f.Value)
                                        <label>@f.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                <div class="form-field-text-field">@Html.Raw(formFields[i].TextField)</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <div class="form-field-text-field">@Html.Raw(formFields[i].TextField)</div>
                        </div>
                    }
                }
            }
        }
        
        <div class="ym-fbox ym-full-width-check">
            <p>
                <b>Please confirm you have read and understood the terms and conditions.*</b>
                <input class="ym-inline" type="checkbox" value="true" style="margin-left: 5px;">
            </p>
        </div>
        
        <div class="ym-fbox-footer ym-fbox-button">
            <input id="submit" class="float-right" type="submit" value="Continue">
        </div>
    }
</div>