﻿@model BTT.CaravanQLD.AppPortal.Models.AdminAccountModel
@using BTT.CaravanQLD.AppPortal.Helpers

@{
    ViewBag.Title = "Login - Caravanning QLD";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

@using (Html.BeginForm("AdminLogin", "Account", FormMethod.Post, new { @class = "ym-form ym-full admin-login-form" }))
{
    <h5>Login</h5>
    
    <div class="ym-fbox">
        @*Html.ValidationMessageFor(m => m.ShowID)*@
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.LabelTitleizeFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
        </div>
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.LabelTitleizeFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" class="save float-right" value="Login" />
    </div>
}
