﻿@{
    ViewBag.Title = "Incorrect URL - Caravanning QLD";
    Layout = "~/Views/Shared/_ApplicationPortalLayout.cshtml";
}

<h2>Incorrect URL</h2>

<p>You have arrived at our site with a link that our system doesn't recognize.</p>
<p>Either the show you are trying to access may be no longer available or the link was entered incorrectly.</p>
<p>Please go to the email that you recieved from us that contains your login details. Use the link in the email to access the portal.</p>