﻿@model BTT.CaravanQLD.AppPortal.Models.AccountModel
@using BTT.CaravanQLD.AppPortal.Helpers

@{
    ViewBag.Title = "Login - Caravanning QLD";
    Layout = "~/Views/Shared/_ApplicationPortalLayout.cshtml";
}

@if (Model.Page != null)
{
    @Html.Raw(Model.Page.TextContent)
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "ym-form ym-full login-form" }))
{
    <h5>Login</h5>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(m => m.ShowID)
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.LabelTitleizeFor(m => m.ShowID)
            @Html.TextBoxFor(m => m.ShowID)
        </div>
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-text">
            @Html.Label("Login Email")
            @Html.TextBoxFor(m => m.CompanyEmail)
        </div>
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" class="save float-right" value="Login" />
    </div>
}