﻿@model BTT.CaravanQLD.AppPortal.Models.ConfirmationFormModel
@using BTT.CaravanQLD.AppPortal.Helpers

@using (Ajax.BeginForm("ConfirmationForm", "Confirmation", new AjaxOptions(), new { @class = "ym-form ym-columnar dynamic-form", id = "confirmation-form" }))
{
    @Html.HiddenFor(x => x.Exhibitor.Id)
    @Html.HiddenFor(x => x.Exhibitor.DateAdded)
    
        @*@Html.HiddenFor(x => x.ExApp.Id)
            @Html.HiddenFor(x => x.ExApp.DateAdded)*@

        foreach (var formSection in Model.FormSections)
        {
            var formFields = formSection.FormFields.OrderBy(x => x.Order).ToList();

            for (int i = 0; i < formFields.Count; i++)
            {
                var requiredClass = formFields[i].Mandatory ? "required" : "";
                var formFieldValue = Model.FormFieldValues.FirstOrDefault(x => x.FormFieldId == formFields[i].Id);
                
                if (formFields[i].DataType == FormDataType.TextBox)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.Raw(formFieldValue.Value)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">@Html.Raw(formFieldValue.Value)</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextArea)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                <i>@Html.Raw(formFieldValue.Value)</i>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">@Html.Raw(formFieldValue.Value)</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.ContentSection)
                {
                    <div class="ym-fbox">
                        @Html.Raw(formFields[i].TextContent)
                    </div>
                }
                else if (formFields[i].DataType == FormDataType.DropDown)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @Html.Raw(formFieldValue.Value)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">@Html.Raw(formFieldValue.Value)</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.Checkbox)
                {
                    var checkboxValue = String.IsNullOrEmpty(formFieldValue.Value) ? "No" : "Yes";
                    
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @checkboxValue
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">@checkboxValue</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.CheckboxArray)
                {
                    <div class="ym-fbox">
                        <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                    </div>

                    var formFieldItems = Model.FormFieldItems.Where(x => x.FormFieldId == formFields[i].Id).OrderBy(x => x.Order).ToList();
                    var isEvenNum = formFieldItems.Count % 2 == 0;
                    var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                    for (int f = 0; f < halfFormFieldItemCount; f++)
                    {
                        var firstItem = f;
                        var secondItem = f + halfFormFieldItemCount;
                        if (secondItem != formFieldItems.Count)
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "Yes" : "No";}
                                            <span class="display-text">@isChecked</span>
                                        </div>
                                    </div>

                                    <div class="ym-g50 ym-gr">
                                        <div class="ym-gbox-right ym-fbox-check">
                                            <label>@formFieldItems[secondItem].Text</label>
                                            @{isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[secondItem].Value)) ? "Yes" : "No";}
                                            <span class="display-text">@isChecked</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                    <div class="ym-g50 ym-gl">
                                        <div class="ym-gbox-left ym-fbox-check">
                                            <label>@formFieldItems[firstItem].Text</label>
                                            @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "Yes" : "No";}
                                            <span class="display-text">@isChecked</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else if (formFields[i].DataType == FormDataType.RadioButton)
                {
                    if (formFields[i].SpanTwoColumns)
                    {
                        <div class="ym-fbox">
                            <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                @formFieldValue.Value
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ym-fbox">
                            <label class="@requiredClass">@formFields[i].Label</label>
                            <span class="display-text">@formFieldValue.Value</span>
                        </div>
                    }
                }
                else if (formFields[i].DataType == FormDataType.TextField)
                {
                    if (formFields[i].TextField == "%Show ID%")
                    {
                        if (formFields[i].SpanTwoColumns)
                        {
                            <div class="ym-fbox">
                                <label class="ym-full-width-label @requiredClass">@formFields[i].Label</label>
                                <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                                    <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ym-fbox">
                                <label class="@requiredClass">@formFields[i].Label</label>
                                <div class="form-field-text-field">@Model.Exhibitor.ShowId</div>
                            </div>
                        }
                    }
                }
            }
        }
        
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.Exhibitor.AcceptedTermsAndConditions)
            <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.Exhibitor.AcceptedTermsAndConditions)</span>
        </div>

        <div class="ym-fbox-footer ym-fbox-button">
        <a href="@Url.Action("Index", "Apply_Now")" class="ym-button">Make Changes</a>
        <a href="javascript:void(0)" class="ym-button" onclick="document.getElementById('confirmation-form').submit();">Submit</a> 
    </div>
    @*@Html.HiddenFor(x => x.ExApp.SiteInfo.ExhibitorApplicationId)
    @Html.HiddenFor(x => x.ExApp.ProductInfo.ExhibitorApplicationId)
    @Html.HiddenFor(x => x.ExApp.IsShowContact)
        
    <h2>Exhibitor Details</h2>
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ShowId)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowId)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.TradingName)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.TradingName)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ShowListingName)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowListingName)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.AddressLine1)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.AddressLine1)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.AddressLine2)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.AddressLine2)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Suburb)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Suburb)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.State)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.State)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Country)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Country)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Postcode)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Postcode)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorPhone)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ExhibitorPhone)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorFax)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ExhibitorFax)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ExhibitorEmail)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ExhibitorEmail)</span>
    </div>
   
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Website)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Website)</span>
    </div>
    
    <h2>Contact Person Details</h2>
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Title)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Title)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.FirstName)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.FirstName)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Surname)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Surname)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Mobile)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Mobile)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Phone)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Phone)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Email)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.Email)</span>
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.IsShowContact)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.IsShowContact)</span>
    </div>
    
    if (!Model.ExApp.IsShowContact)
    {
        <div id="show-contact-details">
            <h2>Show Contact Person Details</h2>

            <div class="ym-fbox">
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactTitle)
                <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowContactTitle)</span>
            </div>

            <div class="ym-fbox">
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactFirstName)
                <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowContactFirstName)</span>
            </div>

            <div class="ym-fbox">
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactSurname)
                <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowContactSurname)</span>
            </div>

            <div class="ym-fbox">
                @Html.LabelTitleizeFor(x => x.ExApp.ShowContactMobile)
                <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ShowContactMobile)</span>
            </div>
        </div>
    }
    
    if (Model.CurrentShow.ShowType == ShowType.Main)
    {
    <h2>Member / CIAA Contributor</h2>
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.CQMember)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.CQMember)</span>
    </div>
        
    if (Model.ExApp.CQMember)
    {
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.CQMemberType)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.CQMemberType)</span>
        </div>
            
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.CQMembershipID)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.CQMembershipID)</span>
        </div>
    }  
        
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.InterstateMember)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.InterstateMember)</span>
    </div>
        
    if (Model.ExApp.InterstateMember)
    {
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.InterstateMemberType)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.InterstateMemberType)</span>
        </div>
            
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.InterstateAssociation)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.InterstateAssociation)</span>
        </div>
    }  
        
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.Contributed)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.Contributed)</span>

        <br />
        <p>@Html.Raw(Model.CurrentShow.Contributor)</p>
    </div>   
    }  
    
    <h2>Site Preference</h2>
        
    if (Model.OptionA)
    {
        <div class="ym-fbox">
            @Html.Label("Site Preference Option")
            <span class="display-text">Option A</span>
        </div>
    }
        if (Model.CurrentShow.ShowType == ShowType.Sales || Model.CurrentShow.OnlyOptionB)
        {
        <div class="ym-fbox">
            <p>NOTE: The majority of stands at this event are located outdoors. Marquee’s can be hired through our preferred supplier Events In Tents.  Before booking a marquee, you must notify the organiser to ensure your site can accommodate a marquee or outdoor structure.</p>
        </div>
    
        <div class="ym-fbox">
            @Html.Label("Marquee Cover is required")
            <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.MarqueeRequired)</span>
        </div>
        }
    if (Model.OptionA)
    {
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice1)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.StandChoice1)</span>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice2)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.StandChoice2)</span>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.StandChoice3)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.StandChoice3)</span>
        </div>
    
        <div class="ym-fbox">
            <p><i>If the size indicated on the plan is <b>not</b> the actual size preferred, indicate preferred size below.</i></p>
        </div>

        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Frontage)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.Frontage)</span>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Depth)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.Depth)</span>
        </div>
    
        <div class="ym-fbox">
            <p><i>If these sites are unavailable, we understand the Show Organisers may make alternative offers to us.</i></p>
        </div>
    }
    else
    {
        if (!Model.CurrentShow.OnlyOptionB)
        {
        <div class="ym-fbox">
            @Html.Label("Site Preference Option")
            <span class="display-text">Option B</span>
        </div>
    
        <div class="ym-fbox">
            <p>We have no particular choices, but we require a stand that is approximately:</p>
        </div>
        }
        else 
        {          
            <div class="ym-fbox">
                @Html.Label(Model.CurrentShow.OptionBTitle)
            </div>
    
            <div class="ym-fbox">
               @Html.Raw(Model.CurrentShow.OptionBText)
            </div>
        }
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.FrontageRequested)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.FrontageRequested)</span>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.DepthRequested)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.DepthRequested)</span>
        </div>
    
        <div class="ym-fbox">
            <p>We require the stand to be: (you can pick multiple)</p>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Indoors)
            <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.Indoors)</span>
        </div>
    
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Outdoors)
            <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.Outdoors)</span>
        </div>
    
        if (Model.CurrentShow.ShowType == ShowType.Sales)
        {
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.OutdoorsWithMarquee)
            <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.OutdoorsWithMarquee)</span>
        </div>
        }
    }
    
    <h2>Shell Scheme</h2>
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.ShellScheme)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.ShellScheme)</span>

        <br />
        <p>@Html.Raw(Model.CurrentShow.ShellScheme)</p>
    </div>

    <h2>Amplification</h2>
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.Amplification)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.SiteInfo.Amplification)</span>
    </div>

    <h2>Products / Services</h2>
    <div class="ym-fbox">
        <p><i>List all Products / Services on your stand. (Refer also to Clauses 19, 22, and 75 in the Show Rules.)</i></p>
    </div>

    <div class="ym-fbox">
        <div class="ym-fbox-text ym-full-width-text">
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.Products)</span>
        </div>
    </div>

    <div class="ym-fbox">
        <br />
        <p><i>Brands (not models) of Caravans, Camper Trailers, Motorhomes & Fifthwheelers you will have on your stand.</i></p>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand1)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand1)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand2)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand2)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand3)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand3)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand4)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand4)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand5)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand5)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravanBrand6)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CaravanBrand6)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand1)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand1)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand2)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand2)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand3)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand3)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand4)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand4)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand5)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand5)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailerBrand6)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.CamperTrailerBrand6)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand1)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.FifthwheelerBrand1)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand2)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.FifthwheelerBrand2)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand3)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.FifthwheelerBrand3)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthwheelerBrand4)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.FifthwheelerBrand4)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand1)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.MotorhomeBrand1)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand2)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.MotorhomeBrand2)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand3)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.MotorhomeBrand3)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomeBrand4)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.MotorhomeBrand4)</span>
    </div>

    <div class="ym-fbox">
        <br />
        <p><i>Market Segments that best describe your products.</i></p>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AccessoriesParts)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.AccessoriesParts)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AdvisoryServices)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.AdvisoryServices)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AnnexesAwnings)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.AnnexesAwnings)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.ArtUnionsFundraising)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.ArtUnionsFundraising)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CabinsHomes)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.CabinsHomes)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CamperTrailers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.CamperTrailers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CampingEquipmentTents)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.CampingEquipmentTents)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CaravansPopTops)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.CaravansPopTops)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.CarportsCaravanCovers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.CarportsCaravanCovers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.ClothingHats)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.ClothingHats)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Clubs)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.Clubs)</span>
    </div>

        <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Communication)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.Communication)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.FifthWheelers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.FifthWheelers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Hire)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.Hire)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Insurance)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.Insurance)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MarineFishingBoatTrailers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.MarineFishingBoatTrailers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.MotorhomesCampervansConversions)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.MotorhomesCampervansConversions)</span>
    </div>

        <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.Publications)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.Publications)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.RoofTopCampers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.RoofTopCampers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.SlideOnTraytopCampers)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.SlideOnTraytopCampers)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.TouringTourismCaravanParks)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.TouringTourismCaravanParks)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.TowingEquipment)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.TowingEquipment)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.VehiclesVehicleAccessories4WDAccessories)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.VehiclesVehicleAccessories4WDAccessories)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.OtherProductsServices)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.ProductInfo.OtherProductsServices)</span>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.ProductInfo.AccessHeight)
        <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.ProductInfo.AccessHeight)</span>
    </div>

    <h2>Security Deposit Refund</h2>
    <div class="ym-fbox">
        <p>Refund of Security Deposit will be credited direct to your bank account. No cheques will be issued. Please enter your account details below: </p>
    </div>

    if (Model.CurrentShow.ShowType == ShowType.Main)
    {
    <div id="security-deposit-refund-details">
        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BSB)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.BSB)</span>
        </div>

        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.AccountNo)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.AccountNo)</span>
        </div>

        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.AccountName)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.AccountName)</span>
        </div>

        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BankName)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.BankName)</span>
        </div>

        <div class="ym-fbox">
            @Html.LabelTitleizeFor(x => x.ExApp.SiteInfo.BranchName)
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.SiteInfo.BranchName)</span>
        </div>
    </div>
    }

    <h2>Additional Notes / Requests</h2>
    <div class="ym-fbox">
        <div class="ym-fbox-text ym-full-width-text">
            <span class="display-text">@Html.DisplayTextFor(x => x.ExApp.NotesAndRequests)</span>
        </div>
    </div>

    <hr />

    <div class="ym-fbox">
        <p>I/We make this application agreeing to be bound by all terms of this document and without limitation: the Contact Conditions, Show Rules and Regulations.</p>
    </div>

    <div class="ym-fbox">
        <p>Should this application be accepted and space allotted, I/we agree to fully comply with the provisions of the Exhibitor's Contractual Obligations all of which I/we acknowledge having inspected and with the Exhibitor's Information and Order Book to be provided by the organisers insofar as they may be applicable. On making this application I/we accept that the Show Organisers have the right to accept or reject the application without making public any reason.</p>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.ExApp.AcceptedTermsAndConditions)
        <span class="display-text">@HtmlHelperExtensions.ConvertBoolToYesOrNo(Model.ExApp.AcceptedTermsAndConditions)</span>
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <a href="@Url.Action("Index", "Apply_Now")" class="ym-button">Make Changes</a>
        <a href="javascript:void(0)" class="ym-button" onclick="document.getElementById('confirmation-form').submit();">Submit</a> 
    </div>*@
}