﻿@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_ApplicationPortalLayout.cshtml";
}

<h2>Success</h2>

<p>Your application has been submitted successfully and an email has been sent to your contact person with a copy of your application.</p>
