﻿@model BTT.CaravanQLD.AppPortal.Models.NavigationModel
@{
    Layout = null;
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var pageName = HttpContext.Current.Request.RequestContext.RouteData.Values["page"];
}

<ul>
    @foreach (var page in Model.Pages)
    {
        if (pageName != null && (string)pageName == page.LinkName)
        {
            <li id="nav-@page.LinkName" class="selected"><a href="@Url.RouteUrl(new { action = "Page", page = page.LinkName })">@page.Name<span>»</span></a></li>
        }
        else
        {
            <li id="nav-@page.LinkName"><a href="@Url.RouteUrl(new { action = "Page", page = page.LinkName })">@page.Name<span>»</span></a></li>
        }
    }

    @if (Model.Exhibitor != null)
    {
        if (controllerName == "Apply_Now")
        {
            <li id="nav-apply-now" class="selected"><a href="@Url.Action("Index", "Apply_Now")">Apply Now<span>»</span></a></li>
        }
        else
        {
            <li id="nav-apply-now"><a href="@Url.Action("Index", "Apply_Now")">Apply Now<span>»</span></a></li>
        }
    }
    
</ul>